.footer-nav{  
    height: 48px !important;
    margin: 50px 0 0 0;
    padding: 0 !important;
    width: 100% !important;
    background: $secondary-bg ;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    
      .nav-item{
          .footer-brand{
              display: block;
              font-family: Open Sans;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 16px;
              color: $primary-text;
              padding: 2px 0 0 0 !important;           
          }
          .footer-menu{
              display: block;
              font-family: Open Sans;
              font-style: normal;
              font-weight: bold;
              font-size: 12px;
              line-height: 16px;
              color: $primary-text;
              padding: 0 !important;
              margin-left: 44px;            
          }
          .footer-icon{
              display: block;            
              color: $primary-text;
              padding: 0 !important;
              margin-left: 4px;            
          }
      }
  
      .hide-nav {
      max-width: 1190px !important;
      height: 50px !important;
      border-bottom: none;
    
      //transform: translate3d(0, 0, 0);
      //transition: 0.1s all ease-out;
      }
   }
  @media screen and (min-width: 0px) and (max-width: 768px){
      .footer-nav{  
          display: none;
      }
  }
  @media screen and (min-height: 958px){
    .footer-nav{ 
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    //z-index: 1030;
    }
}