.header-nav{
    height: 60px !important;
    width: 100%;
    margin: 0;
    padding: 0  !important;
    background: $secondary-bg ;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);

  }
  .navbar-container-first{
    border-bottom: none;
    background: $secondary-bg;
    height: 60px !important;
    max-width: 1190px !important;
    padding: 0 !important;
    .brand-one{
      padding: 8px 12px !important;
      .img-brand{
        width: 150px;
        height: 40px;
        background: url("/images/Huatbet\ logo-02.svg") center center no-repeat;
      }
    }
    .nav-item-2 svg{
      fill:$primary-text;
    }
    .select-top{
      position: absolute; 
      left: 50%; 
      top: 50%; 
      transform: translate(-50%, -50%);
      z-index: 999;
      .form-inline {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-top: 15px;
        .btn-top-center{
          background: $primary-text;
          border-color:transparent !important;
          border-radius: 0px 4px 4px 0px;
          height: 30px !important;
          
        }
        .btn:active{
          text-decoration: none;
        }
        .custom-select {
        background-color: $footer-side-bg;
        background-image: url("/images/chevron\ down.svg" );
        background-repeat: no-repeat;
        background-position:right 0.4rem center;
        background-size:8px 12px;
        //background: #13202C url("../assets/chevron down.svg" ) right 0.75rem center/8px 12px no-repeat;
        border: transparent !important;
        vertical-align: middle;
        color: #FFFFFF;
        padding: 4px 45px 4px 8px !important;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        height: 30px !important;
        width: 120px;  
        }     
        
      }
      .btn-secondary, .btn-secondary:hover, .show > .btn-secondary.dropdown-toggle, .btn-secondary:focus {
        color: $primary-text ;
        background-color: transparent !important;
        border-color: transparent !important;
        box-shadow: none !important;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
      }
      .nav-link {
        display: block;
        padding: 0 20px 0 0!important;
      }
      .btn-sm, .btn-group-sm > .btn {
        //padding: 5px 0 4px 0 !important;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 0.2rem;
        padding: 0 !important;
      }
      .dropdown-toggle::after {
        font-size: 14px !important;
      }
      .dropdown-menu {    
        color: $secondary-text !important;
        background-color: $secondary-bg !important;    
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        }
        .dropdown-item {
          color: $secondary-text !important;
          padding: 4px 15px !important;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;
          span{
            text-transform: uppercase;
          }
        }
        .dropdown-item:hover,.dropdown-item:active, .dropdown-item:focus {
          background: $secondary-bg !important;
        }
    }
    .nav-head-right{
      li{
        margin: auto !important;
      }
      .btn-secondary, .btn-secondary:hover, .show > .btn-secondary.dropdown-toggle, .btn-secondary:focus {
        color: $primary-text ;
        background-color: transparent !important;
        border-color: transparent !important;
        box-shadow: none !important;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
      }
      .nav-link {
        display: block;
        padding: 0 20px 0 0!important;
      }
      .btn-sm, .btn-group-sm > .btn {
        //padding: 5px 0 4px 0 !important;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 0.2rem;
      }
      .dropdown-toggle::after {
        font-size: 14px !important;
      }
      .dropdown-menu {
        color: $secondary-text !important;
        background-color: $secondary-bg !important;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem; 
        margin: 10px 0 0;       
        }
        .dropdown-item {
          color: $secondary-text !important;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;
          padding: 0.4rem 1.5rem;
        }
        .dropdown-item:hover {
          background: transparent !important;
          color: $primary-text !important;
        }
    }
    .nav-item-burger{
      display: none;
    }
  }
  .icon-navbar {
    color: #BDBDBD;
    height: 24px;
    width: 24px;
  }
  @media screen and (min-width: 0px) and (max-width: 768px){
    .header-nav{
      height: 56px !important;
      width: 100%;
      margin: 0;
      padding: 0  !important;
      background: $secondary-bg !important;
      box-shadow: none;
      margin-bottom: 0 !important;
      }
      .navbar-container-first{
        height: 56px !important;
      }
      .brand-one{
      padding: 8px 12px !important;
      .img-brand{
        width: 40px !important;
        height: 40px !important;
        background: url("/images/Huatbet\ logo-05.svg") center center no-repeat !important;
      }
    }
    .nav-item-lang, .nav-item-1{
      display: none;
    }
    .nav-item-2 svg{
      fill:#FFFFFF !important;
    }
    .btn-secondary, .btn-secondary:hover, .show > .btn-secondary.dropdown-toggle, .btn-secondary:focus {
        color: #FFFFFF !important;
        }
    .nav-item-burger{
      display: block !important;
      margin: auto;
    }
  }
