$primary-bg: #1D1E21;
$secondary-bg: #1D2B36;

$footer-side-bg: #13202C;

$primary-text: #FFCD3E;
$secondary-text: #FFFFFF;
$tertiary-text:#BEBEBE;

$text-grey:#A2A2A2;
$text-grey-dark: #878787;
$text-red: #BF3131;
