@import './variables';
@import './header';
@import './footer';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


.vue-tree {
  font-size: 14px;
  min-height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.vue-tree li {
  margin: 0;
  padding: 5px;
  position: relative;
  list-style: none;
}

.vue-tree li > span,
.vue-tree li > i,
.vue-tree li > a {
  line-height: 20px;
  vertical-align: middle;
}

.vue-tree li > a + a {
  margin-left: 5px;
}

.vue-tree li i.icon-open-state {
  font-size: 16px;
}

.vue-tree ul ul li:hover {
  background: rgba(0, 0, 0, .015)
}

.vue-tree li:after, .vue-tree li:before {
  content: '';
  left: -18px;
  position: absolute;
  right: auto
}

.vue-tree li:before {
  border-left: 1px dotted #999;
  bottom: 50px;
  height: 100%;
  top: -16px;
  width: 1px;
}

.vue-tree li:after {
  border-top: 1px dotted #999;
  height: 20px;
  top: 17px;
  width: 22px
}

.vue-tree li span {
  display: inline-block;
  padding: 3px 5px;
  text-decoration: none;
}

.vue-tree > ul > li::after, .vue-tree > ul > li:before {
  border: 0
}

.vue-tree li:last-child::before {
  height: 34px
}

.vue-tree > ul {
  padding-left: 0
}

.vue-tree ul ul {
  padding-left: 24px;
  padding-top: 10px
}





.setting,.transaction {    
  min-height: 80vh;
}
select:active, select:focus {
    box-shadow: none !important;
    text-decoration: none !important;
    outline: none !important;
  }
  .btn-create{
    width: 100% !important;
    height: 46px;
    border-radius: 4px ;
    background: $primary-text;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color:#1D2B36;
    padding: 0 !important;
    .custom-select {
      display: inline-block;
      width: 100%;
      height: 36px;
      padding: 0.375rem 1.75rem 0.375rem 0.75rem;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      text-transform: capitalize;
      color: $secondary-text;
      vertical-align: middle;
      background-color: $primary-bg;
      background-image: url("/images/chevron-big-down.svg" );
      background-repeat:no-repeat;
      background-position:right 0.75rem center;
      background-size: 8px 10px;
      box-shadow: none !important;
      outline: transparent !important;
      border-radius: 4px;
      border: 1px solid $secondary-text !important;
    }
}
@media screen and (min-width: 0px) and (max-width: 768px){
    .forgot-password, .login, .login-2fa, .register, .forgot-password{
      padding-top: 0px !important;
    }
    .title-hed{
        padding-top: 20px;
    }
    .vuetable-desk{
        display: none;
      }
    .vuetable-mob{
        display: block !important;
    }
    .limit-table{
        display: none;
    }
    // .cont-carousel{      
    //     display: none;
    //   }
}