@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap);.header-nav {
  height: 60px !important;
  width: 100%;
  margin: 0;
  padding: 0 !important;
  background: #1D2B36;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

.navbar-container-first {
  border-bottom: none;
  background: #1D2B36;
  height: 60px !important;
  max-width: 1190px !important;
  padding: 0 !important;
}

.navbar-container-first .brand-one {
  padding: 8px 12px !important;
}

.navbar-container-first .brand-one .img-brand {
  width: 150px;
  height: 40px;
  background: url("/images/Huatbet logo-02.svg") center center no-repeat;
}

.navbar-container-first .nav-item-2 svg {
  fill: #FFCD3E;
}

.navbar-container-first .select-top {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.navbar-container-first .select-top .form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 15px;
}

.navbar-container-first .select-top .form-inline .btn-top-center {
  background: #FFCD3E;
  border-color: transparent !important;
  border-radius: 0px 4px 4px 0px;
  height: 30px !important;
}

.navbar-container-first .select-top .form-inline .btn:active {
  text-decoration: none;
}

.navbar-container-first .select-top .form-inline .custom-select {
  background-color: #13202C;
  background-image: url("/images/chevron down.svg");
  background-repeat: no-repeat;
  background-position: right 0.4rem center;
  background-size: 8px 12px;
  border: transparent !important;
  vertical-align: middle;
  color: #FFFFFF;
  padding: 4px 45px 4px 8px !important;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  height: 30px !important;
  width: 120px;
}

.navbar-container-first .select-top .btn-secondary,
.navbar-container-first .select-top .btn-secondary:hover,
.navbar-container-first .select-top .show > .btn-secondary.dropdown-toggle,
.navbar-container-first .select-top .btn-secondary:focus {
  color: #FFCD3E;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.navbar-container-first .select-top .nav-link {
  display: block;
  padding: 0 20px 0 0 !important;
}

.navbar-container-first .select-top .btn-sm,
.navbar-container-first .select-top .btn-group-sm > .btn {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0.2rem;
  padding: 0 !important;
}

.navbar-container-first .select-top .dropdown-toggle::after {
  font-size: 14px !important;
}

.navbar-container-first .select-top .dropdown-menu {
  color: #FFFFFF !important;
  background-color: #1D2B36 !important;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.navbar-container-first .select-top .dropdown-item {
  color: #FFFFFF !important;
  padding: 4px 15px !important;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.navbar-container-first .select-top .dropdown-item span {
  text-transform: uppercase;
}

.navbar-container-first .select-top .dropdown-item:hover,
.navbar-container-first .select-top .dropdown-item:active,
.navbar-container-first .select-top .dropdown-item:focus {
  background: #1D2B36 !important;
}

.navbar-container-first .nav-head-right li {
  margin: auto !important;
}

.navbar-container-first .nav-head-right .btn-secondary,
.navbar-container-first .nav-head-right .btn-secondary:hover,
.navbar-container-first .nav-head-right .show > .btn-secondary.dropdown-toggle,
.navbar-container-first .nav-head-right .btn-secondary:focus {
  color: #FFCD3E;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.navbar-container-first .nav-head-right .nav-link {
  display: block;
  padding: 0 20px 0 0 !important;
}

.navbar-container-first .nav-head-right .btn-sm,
.navbar-container-first .nav-head-right .btn-group-sm > .btn {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.navbar-container-first .nav-head-right .dropdown-toggle::after {
  font-size: 14px !important;
}

.navbar-container-first .nav-head-right .dropdown-menu {
  color: #FFFFFF !important;
  background-color: #1D2B36 !important;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  margin: 10px 0 0;
}

.navbar-container-first .nav-head-right .dropdown-item {
  color: #FFFFFF !important;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  padding: 0.4rem 1.5rem;
}

.navbar-container-first .nav-head-right .dropdown-item:hover {
  background: transparent !important;
  color: #FFCD3E !important;
}

.navbar-container-first .nav-item-burger {
  display: none;
}

.icon-navbar {
  color: #BDBDBD;
  height: 24px;
  width: 24px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .header-nav {
    height: 56px !important;
    width: 100%;
    margin: 0;
    padding: 0 !important;
    background: #1D2B36 !important;
    box-shadow: none;
    margin-bottom: 0 !important;
  }

  .navbar-container-first {
    height: 56px !important;
  }

  .brand-one {
    padding: 8px 12px !important;
  }

  .brand-one .img-brand {
    width: 40px !important;
    height: 40px !important;
    background: url("/images/Huatbet logo-05.svg") center center no-repeat !important;
  }

  .nav-item-lang,
  .nav-item-1 {
    display: none;
  }

  .nav-item-2 svg {
    fill: #FFFFFF !important;
  }

  .btn-secondary,
  .btn-secondary:hover,
  .show > .btn-secondary.dropdown-toggle,
  .btn-secondary:focus {
    color: #FFFFFF !important;
  }

  .nav-item-burger {
    display: block !important;
    margin: auto;
  }
}

.footer-nav {
  height: 48px !important;
  margin: 50px 0 0 0;
  padding: 0 !important;
  width: 100% !important;
  background: #1D2B36;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.footer-nav .nav-item .footer-brand {
  display: block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #FFCD3E;
  padding: 2px 0 0 0 !important;
}

.footer-nav .nav-item .footer-menu {
  display: block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #FFCD3E;
  padding: 0 !important;
  margin-left: 44px;
}

.footer-nav .nav-item .footer-icon {
  display: block;
  color: #FFCD3E;
  padding: 0 !important;
  margin-left: 4px;
}

.footer-nav .hide-nav {
  max-width: 1190px !important;
  height: 50px !important;
  border-bottom: none;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .footer-nav {
    display: none;
  }
}

@media screen and (min-height: 958px) {
  .footer-nav {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.vue-tree {
  font-size: 14px;
  min-height: 20px;
  border-radius: 4px;
}

.vue-tree li {
  margin: 0;
  padding: 5px;
  position: relative;
  list-style: none;
}

.vue-tree li > span,
.vue-tree li > i,
.vue-tree li > a {
  line-height: 20px;
  vertical-align: middle;
}

.vue-tree li > a + a {
  margin-left: 5px;
}

.vue-tree li i.icon-open-state {
  font-size: 16px;
}

.vue-tree ul ul li:hover {
  background: rgba(0, 0, 0, 0.015);
}

.vue-tree li:after,
.vue-tree li:before {
  content: "";
  left: -18px;
  position: absolute;
  right: auto;
}

.vue-tree li:before {
  border-left: 1px dotted #999;
  bottom: 50px;
  height: 100%;
  top: -16px;
  width: 1px;
}

.vue-tree li:after {
  border-top: 1px dotted #999;
  height: 20px;
  top: 17px;
  width: 22px;
}

.vue-tree li span {
  display: inline-block;
  padding: 3px 5px;
  text-decoration: none;
}

.vue-tree > ul > li::after,
.vue-tree > ul > li:before {
  border: 0;
}

.vue-tree li:last-child::before {
  height: 34px;
}

.vue-tree > ul {
  padding-left: 0;
}

.vue-tree ul ul {
  padding-left: 24px;
  padding-top: 10px;
}

.setting,
.transaction {
  min-height: 80vh;
}

select:active,
select:focus {
  box-shadow: none !important;
  text-decoration: none !important;
  outline: none !important;
}

.btn-create {
  width: 100% !important;
  height: 46px;
  border-radius: 4px;
  background: #FFCD3E;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1D2B36;
  padding: 0 !important;
}

.btn-create .custom-select {
  display: inline-block;
  width: 100%;
  height: 36px;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
  vertical-align: middle;
  background-color: #1D1E21;
  background-image: url("/images/chevron-big-down.svg");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 8px 10px;
  box-shadow: none !important;
  outline: transparent !important;
  border-radius: 4px;
  border: 1px solid #FFFFFF !important;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .forgot-password,
  .login,
  .login-2fa,
  .register,
  .forgot-password {
    padding-top: 0px !important;
  }

  .title-hed {
    padding-top: 20px;
  }

  .vuetable-desk {
    display: none;
  }

  .vuetable-mob {
    display: block !important;
  }

  .limit-table {
    display: none;
  }
}

