<template>
  <div class="dashboard">   
    <div class="games-cont">
        <b-row no-gutters>
            <b-col cols="6" md="4">
                <card-carousel titles="Dice" imageUrl="3d-dice.svg" bgColor="#706749" :rateWin="30" class="card-carousels"></card-carousel>
            </b-col>
            <b-col cols="6" md="4">
                <card-carousel titles="Si Ki Pi" imageUrl="3d-sikipi.svg" bgColor="#4D1B5A" :rateWin="50" class="card-carousels"></card-carousel>
            </b-col>
            <b-col cols="6" md="4">
                <card-carousel titles="Mines" imageUrl="3d-mines.svg" bgColor="#3A0E16" :rateWin="60" class="card-carousels"></card-carousel>
            </b-col>
            <b-col cols="6" md="4">
                <card-carousel titles="Moonshot" imageUrl="3d-moonshot.svg" bgColor="#585C65" :rateWin="80" class="card-carousels"></card-carousel>
            </b-col>
            <b-col cols="6" md="4">
                <card-carousel titles="Gor Ki Pi" imageUrl="3D-GORKIPI.svg" bgColor="#084C5A" :rateWin="70" class="card-carousels"></card-carousel>
            </b-col>
        </b-row>
    </div>    
    <table-home class="table-one"></table-home>
  </div>
</template>

<script>
import tableHome from '../components/tableHome.vue'
import cardCarousel from '../components/cardCarouser.vue'


export default {
  name: 'Dashboard',
  components: {
    tableHome,
    cardCarousel,
    // owlCarousel
  },
  data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart() {
        this.sliding = true
      },
      onSlideEnd() {
        this.sliding = false
      }
    }
}
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

.dashboard{
max-width: 1440px;
margin: auto;
  .games-cont{
    padding: 30px 120px 0px;
  }
  .table-one{
  padding: 70px 120px 0px;
  }
}
@media screen and (min-width: 0px) and (max-width: 768px){
   .games-cont{
    padding: 10px 20px 0px !important;
  }
  .table-one{
  padding: 50px 20px 0px !important;
  }
 
}
</style>
