<template>
  <div class="faq">
    <b-jumbotron class="mx-auto">
    </b-jumbotron>
    <div class="content-htp">
        <b-row no-gutters style="margin-top:20px;">
            <b-col class="text-left" style="margin: auto !important;" cols="3">
                <div class="title-head">
                    Frequently Asked Questions
                </div>
            </b-col>
            <b-col class="text-left">
               <b-col class="text-left">
                <b-form-select
                v-model="selected"
                :options="options"
                calss="mb-3"
                ></b-form-select>
            </b-col>
            </b-col>
        </b-row>
        <div class="content-main">
            <div class="body-main">
                <span> What is the fee structure?</span><br/><br/>
                The fee structure is either a 5% commission or the net win/loss per game. Depending on the game, you can share in that commission or pot by being an early participant or by playing the side of the ‘house’ and taking on liquidity risk.<br/><br/>
                <span>Who are we?</span><br/><br/>
                We are a team of 3 developers and game theorists who love Algorand and wanted to do something exciting, and fun instead of living under the oppression of Ethereum smurf land and numb the pain of failed hopes and dreams of Algo financial freedom.<br/><br/>
                <span>New Development</span><br/><br/>
                If things go well, you’ll find that we are developing old and new crytpo provenly fair games. We hope to make a new game every month and keep adding on to it.<br/><br/>
                <span>Algofair.io Research Grant and Jackpot Fund</span><br/><br/>
                We love playing around tokenomics and game theory. For any revenue gained, 75% will go to the team, but 25% will go to an AlgoFair Research Grant and Jackpot Fund.<br/><br/>
                So if you have a great idea about a game that can be made on Algofair; and all you need to do is share it with us and we will pay you for the idea or give you a grant to build it yourself. We’ll put it on our platform and you’ll get 20% revenue share from it as long as it people play it.<br/><br/>
                <span>Algofair Governance</span><br/><br/>
                If we can get big enough, we will give out an algofair governance token, which you can only gain from playing the games on Algofair. But when we make it, we’ll do it ala uniswap style and any wallet that has interacted with our games we’ll do an airdrop.<br/><br/>
                So, we’ll make a community voting portal, if you want to make jackpot proposal, then we can use funds from the Jackpot Fund to fund the proposal i.e. to make a direct contribution from the Jackpot pool. So any game on the site that has a jackpot, you can make a proposal to add, 1%-100% of the Jackpot to the existing winnings.<br/><br/>
                Ok big dreams, but we’re inspired by how uniswap started, and by Algorand’s continued tech and the need for us to do something useful with our Algos!<br/><br/>
                Thanks for coming out!<br/><br/>
            </div>
        </div>
    </div>
  </div>
</template>

<script>


export default {
  name: 'Faq',
  components:{

  },
  data (){
      return{
        selected : 1,
        options: [{
          value: 1,
          text: 'General',
          },{
          value: 2,
          text: 'Option 2'
          }, {
          value: 3,
          text: 'Option 3'
          }
        ],
        value: '',
      }
  },

}
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

.faq{
  max-width: 1440px;
  margin: auto;
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0;
    background-color: #070709;
    border-radius: 0.3rem;
    background-image: url("/images/faq-jumbotron.svg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    height: 352px;
    position: relative;
    border-radius: 0 !important;
    }
    .content-htp{
        padding: 0 120px;
        margin: auto !important;
        .title-head{
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            color: $secondary-text;

        }

        .content-main{
            margin-top: 20px;
            font-family: Open Sans;
            font-style: normal;
            font-size: 14px;
            line-height: 19px;
            font-weight: normal;
            color: $secondary-text;
            text-align: left;
            // height: 1335px;
            span{
                font-weight: bold;
            }

        }
    }
    .custom-select {
    display: inline-block;
    width: 255px;
    height: 36px;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: $secondary-text;
    vertical-align: middle;
    background-color: $primary-bg;
    background-image: url("/images/chevron-big-down.svg" );
    background-repeat:no-repeat;
    background-position:right 0.75rem center;
    background-size: 8px 10px;
    box-shadow: none !important;
    outline: transparent !important;
    border-radius: 4px;
    border: 1px solid $secondary-text !important;
  }
}
</style>
