<template>
  <div class="forgot-password">
    <div class="container">
      <b-row no-gutters class="justify-content-center">
        <b-col cols="12">
          <div class="title-hed">Forgot Your Password?</div>
        </b-col>
      </b-row>
      <b-row no-gutters class="justify-content-center">
        <b-col cols="12">
          <b-form @submit="onSubmit" v-if="show">
            <b-form-group id="input-group-1">
              <b-form-input
                id="input-1"
                v-model="form.name"
                placeholder="Username"
                required
              ></b-form-input>
            </b-form-group>
            <div class="forgot-text text-centre">
              Enter your username to receive a notification to reset your
              password. Please note if you have not linked your telegram account
              to receive notifications, you will not be able to reset your
              password.
            </div>
            <button type="submit" class="btn btn-create" :disabled="isLoading">
              reset password
            </button>
          </b-form>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: "Forgot",
  data() {
    return {
      form: {
        name: "",
        pass: "",
      },
      show: true,
      isLoading: false,
    };
  },
  methods: {
    async onSubmit(event) {
      event.preventDefault();
      this.isLoading = true;

      await this.$store.dispatch("auth/FORGOT_PASSWORD", {
        username: this.form.name,
      });

      this.isLoading = false;
    },
  },
  components: {},
};
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

.forgot-password {
  padding-top: 20px;
  min-height: 792px;
  .container {
    width: 335px;
    .title-hed {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: $primary-text;
    }
    .col-12 {
      margin-bottom: 20px;
    }
    .form-group {
      margin-bottom: 20px;
    }
    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem);
      padding: 0.375rem 0.75rem;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: $tertiary-text;
      background-color: $primary-bg;
      background-clip: padding-box;
      border: 1px solid $secondary-text;
      border-radius: 4px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .form-control:active,
    .form-control:focus {
      box-shadow: unset !important;
    }

    .btn-create {
      width: 100% !important;
      height: 46px;
      border-radius: 4px;
      background: $primary-text;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #1d2b36;
      padding: 0 !important;
    }
    .forgot-text {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: $secondary-text;
      margin-bottom: 20px;
    }
    a {
      color: $primary-text;
      text-decoration: none;
    }
  }
}
</style>
