<template>
  <div class="home">
    <b-jumbotron class="mx-auto">
      <template #header >Welcome to</template>
      <!-- <div class="img-welcome">
        <img :src="require('../../img/Welcome-to.svg')" alt="">
      </div> -->
      <div class="image-jumbo">
        <img :src="require('../../img/Huatbet-02.svg')" alt="">
      </div>
    </b-jumbotron>
    <div class="cont-carousel">
        <b-carousel
          id="carousel-desk"
          v-model="slide"
          :interval="0"
          controls
          indicators
          img-height="420"
          img-width="380"
          background="transparent"
          style="text-shadow: 1px 1px 2px #333;"
          @sliding-start="onSlideStart"
          @sliding-end="onSlideEnd"
        >
          <b-carousel-slide img-blank >
            <template v-slot:img >
              <div style="display: flex;">
                <card-carousel titles="Dice" imageUrl="3d-dice.svg" bgColor="#706749" :rateWin="30" class="card-carousels"></card-carousel>
                <card-carousel titles="Si Ki Pi" imageUrl="3d-sikipi.svg" bgColor="#4D1B5A" :rateWin="50" class="card-carousels"></card-carousel>
                <card-carousel titles="Mines" imageUrl="3d-mines.svg" bgColor="#3A0E16" :rateWin="60" class="card-carousels"></card-carousel>
              </div>
            </template>
            </b-carousel-slide>
            <b-carousel-slide img-blank >
            <template v-slot:img >
              <div style="display: flex;">
                <card-carousel titles="Moonshot" imageUrl="3d-moonshot.svg" bgColor="#585C65" :rateWin="80" class="card-carousels"></card-carousel>
                <card-carousel titles="Gor Ki Pi" imageUrl="3D-GORKIPI.svg" bgColor="#084C5A" :rateWin="70" class="card-carousels"></card-carousel>
              </div>
            </template>
            </b-carousel-slide>
          </b-carousel>

          <b-carousel
          id="carousel-mob"
          indicators
          img-height="283"
          img-width="170"
          background="transparent"
          style="text-shadow: 1px 1px 2px #333;"
          
        >
        <b-carousel-slide img-blank >
          <template v-slot:img >
            <div style="display: flex;">
              <card-carousel titles="Dice" imageUrl="3d-dice.svg" bgColor="#706749" :rateWin="30" class="card-carousels"></card-carousel>
              <card-carousel titles="Si Ki Pi" imageUrl="3d-sikipi.svg" bgColor="#4D1B5A" :rateWin="50" class="card-carousels"></card-carousel>
            </div>
          </template>
        </b-carousel-slide>
        <b-carousel-slide img-blank >
        <template v-slot:img >
          <div style="display: flex;">
            <card-carousel titles="Mines" imageUrl="3d-mines.svg" bgColor="#3A0E16" :rateWin="60" class="card-carousels"></card-carousel>
            <card-carousel titles="Moonshot" imageUrl="3d-moonshot.svg" bgColor="#585C65" :rateWin="80" class="card-carousels"></card-carousel>
          </div>
        </template>
        </b-carousel-slide>
        <b-carousel-slide img-blank >
        <template v-slot:img >
          <div style="display: flex;">
            <card-carousel titles="Gor Ki Pi" imageUrl="3D-GORKIPI.svg" bgColor="#084C5A" :rateWin="70" class="card-carousels"></card-carousel>
          </div>
        </template>
        </b-carousel-slide>
      </b-carousel>
    </div>
    <table-home class="table-one"></table-home>
  </div>
</template>

<script>
// import owlCarousel from 'vue-owl-carousel'
import tableHome from '../components/tableHome.vue'
import cardCarousel from '../components/cardCarouser.vue'


export default {
  name: 'Home',
  components: {
    tableHome,
    cardCarousel,
    // owlCarousel
  },
  data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart() {
        this.sliding = true
      },
      onSlideEnd() {
        this.sliding = false
      }
    }
}
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

.home{
max-width: 1440px;
margin: auto;
  .table-one{
  padding: 70px 120px 0px;
  }
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0;
    background-color: transparent;
    background-image: url("/images/background-home.png");
    max-width: 1440px;
    height: 552px;
    position: relative;
    border-radius: 0;
    h1{
      font-family: Montserrat;
      position: absolute;
      top: 23%;
      left: 12%;
      font-style: normal;
      font-weight: 1000 !important;
      font-size: 28px ;
      line-height: 34px !important;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $primary-text !important ;
      //-webkit-text-stroke: 2px #1D2B36;
      //-webkit-text-stroke-width: 2px;
      //-webkit-text-stroke-color: black;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.85);
      margin: 0 !important;
      }
      .img-welcome{
      position: absolute;
      top: 23%;
      left: 12%;
      }
      .display-3{
        -webkit-text-stroke: 1px #1D2B36;
        font-size: 28px ;
      }
      .image-jumbo{
        position: absolute;
        top: 28%;
        left: 13%;
      }
    }
    .cont-carousel{
      margin-top: -290px;
    }
  .card-carousels{
    margin: 0 15px;
  }
  .carousel-control-prev, .carousel-control-next {
    width: 7%;
    opacity: 1;
    }
  .carousel-inner {
    padding: 0 5%;
  }
  .carousel-control-next-icon {
  background-image: url("/images/carousel-next.svg" ) !important;
  }
  .carousel-control-prev-icon {
  background-image: url("/images/carousel-prev.svg") !important;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: 50% / 100% 100% no-repeat;
  }
  .carousel-indicators {
    bottom: -50px;
    }
  .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #FFCD3E;
    border-top: unset !important;
    border-bottom: unset !important;
    opacity: .1;
  }
  .carousel-indicators li:active, .carousel-indicators li:focus {
    text-decoration: none !important;
    outline: none !important;
  }
  .carousel-indicators .active {
    opacity: 1;
  }
  #carousel-mob{
    display: none;
    }
    // .owl-nav{
    //   display: none;
    // }
    // .owl-dots{
    //   margin-top: 10px;
    // }
    // .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    // background: $primary-text;
    // border: transparent !important;
    // }
    // .owl-theme .owl-dots .owl-dot.active:active, .owl-theme .owl-dots .owl-dot:active,
    // .owl-theme .owl-dots .owl-dot.active:focus, .owl-theme .owl-dots .owl-dot:focus
    //  {
    // border: transparent !important;
    // text-decoration: none !important;
    // outline: none !important;
    // }
    // .owl-theme .owl-dots .owl-dot span {
    // background: #2B3038;;
    // }
    // .owl-item{
    //   width:380px !important;
    // }
    // .owl-carousel .owl-stage {
    //   padding-left: 10%;
    // }

}
@media screen and (min-width: 0px) and (max-width: 768px){
  .table-one{
  padding: 50px 20px 0px !important;
  }
  .jumbotron {
    background-image: url("/images/background-home-mobile.png") !important;
    max-width: 375px !important;
    height: 281px !important;
    h1{
      //font-family: Montserrat;
      position: absolute;
      top: 19% !important;
      left: 9% !important;
      font-style: normal;
      font-size: 11.2px !important;
      line-height: 14px !important;
      }
      .display-3{
        -webkit-text-stroke: 0.3px #1D2B36 !important;
        font-size: 11.2px !important;
      }
      .image-jumbo{
        top: 26.5% !important;
        left: 12% !important;
        img{
        width: 138.8px;
        height: 36.8px;
        }
      }
    }
  .cont-carousel{
      margin-top: -95px !important;
    }
  .carousel-inner {
    padding: 0 10px !important;
  }
  .card-carousels {
    margin: 0 5px !important;
  }
  #carousel-desk{
    display: none;
    }
  #carousel-mob{
    display: block !important;
    }

  // .carousel-control-prev-icon, .carousel-control-next-icon {
  //   displ
  // }
}
</style>
