<template>
  <div class="howtoplay">
    <b-jumbotron class="mx-auto">
    </b-jumbotron>
    <div class="content-htp">
        <b-row no-gutters style="margin-top:20px;">
            <b-col class="text-left" style="margin: auto !important;" cols="2">
                <div class="title-head">
                    How To Play
                </div>
            </b-col>
            <b-col class="text-left">
                <b-form-select
                v-model="selected"
                :options="options"
                calss="mb-3"
                ></b-form-select>
            </b-col>
        </b-row>
        <div class="content-main">
                <span> Title Here </span><br/><br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                <br/><br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'HowToPlay',
  data (){
      return{
        selected : 1,
        options: [{
          value: 1,
          text: 'Dice',
          },{
          value: 2,
          text: 'Si Ki Pi'
          }, {
          value: 3,
          text: 'Moon Shot'
          }
        ],
        value: '',
      }
  },
  components: {

  }
}
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

.howtoplay{
max-width: 1440px;
margin: auto;
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0;
    background-color: #040D12;
    border-radius: 0.3rem;
    background-image: url("/images/howtoplay-jumbotron.svg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    height: 360px;
    position: relative;
    border-radius: 0 !important;
    }
    .content-htp{
        padding: 0 120px;
        margin: auto !important;
        .title-head{
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            color: $secondary-text;

        }
        .content-main{
            margin-top: 20px;
            font-family: Open Sans;
            font-style: normal;
            font-size: 14px;
            font-weight: normal;
            line-height: 19px;
            color: $secondary-text;
            text-align: left;
            min-height: 293px;
            span{
                font-weight: bold;
            }

        }
    }
  .custom-select {
    display: inline-block;
    width: 255px;
    height: 36px;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: $secondary-text;
    vertical-align: middle;
    background-color: $primary-bg;
    background-image: url("/images/chevron-big-down.svg" );
    background-repeat:no-repeat;
    background-position:right 0.75rem center;
    background-size: 8px 10px;
    box-shadow: none !important;
    outline: transparent !important;
    border-radius: 4px;
    border: 1px solid $secondary-text !important;
  }

}
// .el-select-dropdown {
//     position: absolute;
//     z-index: 1001;
//     border: 1px solid #FFF;
//     border-radius: 4px;
//     background-color: #040D12;
//     box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
//     box-sizing: border-box;
//     margin: 5px 0;
//     }
</style>
