<template>
  <div class="login-2fa">
    <div class="container">
      <b-row no-gutters class="justify-content-center">
        <b-col cols="12" class="text-centre">
          <div class="image-top">
            <img :src="require('../../img/2fa.svg')" alt="" />
          </div>
        </b-col>
        <b-col cols="12">
          <div class="desc-img">One-Time Password</div>
        </b-col>
        <b-col v-if="isError" cols="12">
          <div class="text-error">
            {{ errorMessage }}
          </div>
        </b-col>
      </b-row>
      <b-row no-gutters class="justify-content-center">
        <b-col cols="12">
          <b-form @submit="onSubmit" v-if="show">
            <b-form-group id="input-group-1">
              <b-form-input
                type="password"
                id="input-1"
                v-model="form.pass"
                aria-describedby="password-help-block"
                placeholder="Password"
                required
              ></b-form-input>
            </b-form-group>
            <button type="submit" class="btn btn-create">validate</button>
          </b-form>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      form: {
        pass: "",
      },
      username: "",
      password: "",
      show: true,
      isError: true,
      errorMessage: "",
    };
  },
  created() {
    // Get credentials from Route Params
    this.username = this.$route.params.username;
    this.password = this.$route.params.password;
    if (this.username == null) {
      this.$router.push({
        name: `Login`,
      });
    }
  },
  methods: {
    async onSubmit(event) {
      event.preventDefault();

      // Dispatch
      await this.$store.dispatch("auth/LOGIN", {
        username: this.username,
        password: this.password,
        secret: this.form.pass,
      });

      this.loading = false;
      this.isError = this.$store.state.auth.isError;
      this.errorMessage = this.$store.state.auth.errorMessage;
    },
  },
  components: {},
};
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

.login-2fa {
  padding-top: 20px;
  min-height: 792px;
  .container {
    width: 335px;
    overflow: visible;
    .text-error {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #fa4343;
    }
    .image-top {
      // height: 100%;
      // display:flex;
      // align-items: center;
      position: relative;
      float: right;
      right: 50%;
      img {
        // height: auto;
        // width: 100%;
        // align-self: center;
        position: relative;
        right: -50%;
      }
    }
    .desc-img {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      color: $primary-text;
    }
    .col-12 {
      margin-bottom: 20px;
    }
    .form-group {
      margin-bottom: 22px;
    }
    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem);
      padding: 0.375rem 0.75rem;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: $tertiary-text;
      background-color: $primary-bg;
      background-clip: padding-box;
      border: 1px solid $secondary-text;
      border-radius: 4px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .form-control:active,
    .form-control:focus {
      box-shadow: unset !important;
    }

    .btn-create {
      width: 100% !important;
      height: 46px;
      border-radius: 4px;
      background: $primary-text;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #1d2b36;
      padding: 0 !important;
    }
    a {
      color: $primary-text;
      text-decoration: none;
    }
  }
}
</style>
