<template>
  <div class="login">
    <div class="container">
      <b-row no-gutters class="justify-content-center">
        <b-col cols="12">
          <img :src="require('../../img/log-in.svg')" alt="" />
        </b-col>
        <b-col cols="12">
          <div class="desc-img">Welcome Back</div>
        </b-col>
        <b-col v-if="isError" cols="12">
          <div class="text-error">
            {{ errorMessage }}
          </div>
        </b-col>
      </b-row>
      <!-- <b-alert show v-if="errorMessage" fade dismissible variant="danger">{{
        errorMessage
      }}</b-alert> -->

      <b-row no-gutters class="justify-content-center">
        <b-col cols="12">
          <b-form @submit="onSubmit" v-if="show">
            <b-form-group id="input-group-1">
              <div class="input-icon">
                <b-form-input
                  id="input-1"
                  v-model="form.name"
                  placeholder="Username"
                  required
                ></b-form-input>
                <img
                  id="tooltip-target-1"
                  :src="require('../../img/info.svg')"
                  class="icon-info"
                  alt=""
                />
                <auth-tooltip></auth-tooltip>
                <!-- <b-tooltip target="tooltip-target-1" triggers="hover">
                  <div class="message-tool">
                    - Minimum leng is 6 character, and maximum is 16
                  </div>
                </b-tooltip> -->
              </div>
            </b-form-group>
            <b-form-group id="input-group-2" style="margin-bottom: 12px">
              <b-form-input
                type="password"
                id="input-2"
                v-model="form.pass"
                aria-describedby="password-help-block"
                placeholder="Password"
                required
              ></b-form-input>
            </b-form-group>
            <div class="forgot-pw text-right">
              <router-link to="/forgotpassword"> Forgot Password </router-link>
            </div>
            <button :disabled="loading" type="submit" class="btn btn-create">
              Login
            </button>
          </b-form>
        </b-col>
        <b-col cols="12">
          <div class="have-login">
            Don’t have an account? Sign up
            <router-link to="/register">Here</router-link>!
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import authTooltip from "../components/authTooltip.vue";
export default {
  components: { authTooltip },
  name: "Login",
  data() {
    return {
      form: {
        name: "",
        pass: "",
      },
      loading: false,
      errorMessage: "",
      show: true,
      isError: true,
    };
  },
  created() {},
  methods: {
    async onSubmit(event) {
      event.preventDefault();

      // Check if the form is filled
      if (this.form.name && this.form.pass) {
        this.loading = true;

        // Dispatch
        await this.$store.dispatch("auth/LOGIN", {
          username: this.form.name,
          password: this.form.pass,
        });

        this.loading = false;
        this.isError = this.$store.state.auth.isError;
        this.errorMessage = this.$store.state.auth.errorMessage;
      }
    },
  },
};
</script>

<style lang="scss">
@import "./resources/sass/variables.scss";

.login {
  padding-top: 20px;
  min-height: 792px;
  .container {
    width: 335px;
    .text-error {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #fa4343;
    }
    .desc-img {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: $primary-text;
    }
    .col-12 {
      margin-bottom: 20px;
    }
    .input-icon {
      position: relative;
      width: 100%;
      height: calc(1.5em + 0.75rem);
      box-sizing: border-box;
      .form-control {
        width: 100%;
        height: 100%;
        padding-right: 28px;
      }
      .icon-info {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // box-sizing: border-box;
      }
    }
    .form-group {
      margin-bottom: 20px;
    }
    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem);
      padding: 0.375rem 0.75rem;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: $tertiary-text;
      background-color: $primary-bg;
      background-clip: padding-box;
      border: 1px solid $secondary-text;
      border-radius: 4px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .form-control:active,
    .form-control:focus {
      box-shadow: unset !important;
    }

    .btn-create {
      width: 100% !important;
      height: 46px;
      border-radius: 4px;
      background: $primary-text;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #1d2b36;
      padding: 0 !important;
    }
    .have-login {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #878787;
    }
    .forgot-pw {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #878787;
      margin-bottom: 11px;
      a {
        color: #878787;
      }
    }
    a {
      color: $primary-text;
      text-decoration: none;
    }
    .message-tool {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 6px !important;
    }
  }
}
</style>
