<template>
  <div class="provably-fair">
    <b-jumbotron class="mx-auto">
    </b-jumbotron>
    <div class="content-htp">
        <b-row no-gutters style="margin-top:20px;">
            <b-col class="text-left" cols="3">
                <div class="title-head">
                    Provably Fair
                </div>
            </b-col>
        </b-row>
        <div class="content-main">
            <div class="box-verify text-center">
                <div class="text-center wrap-verify" >
                    <img :src="require('../../img/pf-crash.svg')" alt="" style="height: 360px; width: 360px;">
                    <div class="text-head">
                        Verify
                    </div>
                    <div class="cont-prof">
                      <b-row no-gutters style="margin-bottom: 4px;">
                          <b-col class="text-left text-prof">
                              Game
                          </b-col>
                      </b-row>
                      <b-form-select v-model="selected"
                                      :options="options"
                                      calss="mb-3"
                      ></b-form-select>
                  </div>
                    <div class="cont-prof">
                      <b-row no-gutters style="margin-bottom: 4px;">
                          <b-col class="text-left text-prof">
                              Server Seed
                          </b-col>
                      </b-row>
                      <b-input-group style="height: 36px !important;">
                      <b-form-input v-model="serverSeed" class="prof-input" readonly></b-form-input>
                      <b-input-group-append>
                          <b-button class="prof-button">
                            <img :src="require('../../img/copy.svg')" alt="">
                          </b-button>
                      </b-input-group-append>
                      </b-input-group>
                  </div>
                  <div class="cont-prof">
                      <b-row no-gutters style="margin-bottom: 4px;">
                          <b-col class="text-left text-prof">
                              Server Seed (Hashed)
                          </b-col>
                      </b-row>
                      <b-input-group style="height: 36px !important;">
                      <b-form-input v-model="serverHash" class="prof-input" readonly></b-form-input>
                      <b-input-group-append>
                          <b-button class="prof-button">
                            <img :src="require('../../img/copy.svg')" alt="">
                          </b-button>
                      </b-input-group-append>
                      </b-input-group>
                  </div>
                  <b-row no-gutters>
                    <b-col cols="8" style="padding-right:5px">
                      <div class="cont-prof">
                        <b-row no-gutters style="margin-bottom: 4px;">
                            <b-col class="text-left text-prof">
                                Client Seed
                            </b-col>
                        </b-row>
                        <b-input-group style="height: 36px !important;">
                        <b-form-input v-model="clientSeed" class="prof-input" readonly></b-form-input>
                        <b-input-group-append>
                            <b-button class="prof-button">
                              <img :src="require('../../img/copy.svg')" alt="">
                            </b-button>
                        </b-input-group-append>
                        </b-input-group>
                      </div>
                    </b-col>
                    <b-col cols="4" style="padding-left:5px">
                      <div class="cont-prof">
                        <b-row no-gutters style="margin-bottom: 4px;">
                            <b-col class="text-left text-prof">
                                Nonce
                            </b-col>
                        </b-row>
                        <b-input-group style="height: 36px !important;">
                        <b-form-input v-model="nonce" class="prof-input" readonly></b-form-input>
                        <b-input-group-append>
                            <b-button class="prof-button">
                              <img :src="require('../../img/copy.svg')" alt="">
                            </b-button>
                        </b-input-group-append>
                        </b-input-group>
                      </div>
                    </b-col>
                  </b-row>
                </div>
            </div>
            <div class="body-main">
                <span>Overview</span><br/><br/>
                Solving the Trust Issue with Online Gaming<br/><br/>
                The underlying concept of provable fairness is that players have the ability to prove and verify that their results are fair and unmanipulated. This is achieved through the use of a commitment scheme, along with cryptographic hashing.<br/><br/>
                The commitment scheme is used to ensure that the player has an influence on all results generated. Cryptographic hashing is used to ensure that the operator also remains honest to this commitment scheme. Both concepts combined creates a trust-less environment when gaming online.<br/><br/>
                This is simplified in the following representation:<br/><br/>
                fair result = operators input (hashed) + players input <br/><br/><br/>
                <span>Implementation</span><br/><br/>
                Random Number Generation<br/><br/>
                For each verifiable bet, a client seed, a server seed, a nonce and a cursor are used as the input parameters for the random number generation function. This function utilises the cryptographic hash function HMAC_SHA256 to generate bytes which are then used as the foundation for how we generate provably fair random outcomes on our platform.<br/><br/><br/>
                Server Seed<br/><br/>
                The server seed is generated by our system as a random 64-character hex string. You are then provided with an encrypted hash of that generated server seed before you place any bets. The reason we provide you with the encrypted form of the server seed is to ensure that the un-hashed server seed cannot be changed by the operator, and that the player cannot calculate the results beforehand.<br/><br/>
                To reveal the server seed from its hashed version, the seed must be rotated by the player, which triggers the replacement with a newly generated one.<br/><br/>
                From this point you are able to verify that the hashed server seed matches that of the un-hashed server seed. This process can be verified via our un-hashed server seed function found in the menu above.<br/><br/><br/>
                Client Seed<br/><br/>
                The client seed belongs to the player and is used to ensure the player also has influence on the randomness of the outcomes generated. Without this component of the algorithm, the server seed alone would have complete leverage over the outcome of each bet.<br/><br/>
                All players are free to edit and change their client seed regularly to create a new chain of random upcoming outcomes. This ensures the player has absolute control over the generation of the result, similar to cutting a deck of cards.<br/><br/>
                During registration, a client seed is created for you by your browser, to ensure your initial experience with the site goes uninterrupted. Whilst this randomly generated client seed is considered suitable, we highly recommend that you choose your own, so that your influence is included in the randomness.<br/><br/><br/>
                Nonce<br/><br/>
                The nonce is simply a number that increments as every new bet is made. Due to the nature of the SHA256 cryptographic function, this creates a completely new result each time, without having to generate a new client seed and server seed.<br/><br/>
                The implementation of nonce, ensures we remain committed to your client seed and server seed pair, whilst generating new results for each bet placed.<br/><br/>
            </div>
        </div>
    </div>

  </div>
</template>

<script>


export default {
  name: 'Provably-fair',
  components:{

  },
  data (){
      return{
        serverHash: '0f597126a87bab30a21581aa47467d560f4d572a0',
        serverSeed: '0f597126a87bab30a21581aa47467d560f4d572a0',
        clientSeed: '0f597126a87bab30a21581aa47467d560f4d572a0',
        nonce: 98,
        selected : 1,
        options: [{
          value: 1,
          text: 'Crash',
          },{
          value: 2,
          text: 'Option 2'
          }, {
          value: 3,
          text: 'Option 3'
          }
        ],
        value: '',
      }
  },

}
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

.provably-fair{
max-width: 1440px;
margin: auto;
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0;
    background-color: #0A1318;
    border-radius: 0.3rem;
    background-image: url("/images/provably-jumbotron.svg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    height: 360px;
    position: relative;
    border-radius: 0 !important;
    }
    .content-htp{
        padding: 0 120px;
        margin: auto !important;
        .title-head{
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            color: $secondary-text;

        }
        .content-main{
            margin-top: 20px;
            font-family: Open Sans;
            font-style: normal;
            font-size: 14px;
            line-height: 19px;
            font-weight: normal;
            color: $secondary-text;
            text-align: left;
            //height: 1335px;
            .box-verify{
                height: 800px;
                border: 1px solid  $secondary-text;
                margin-bottom: 45px;
                box-sizing: border-box;
                border-radius: 4px;
                .wrap-verify{
                  width: 544px;
                  margin: auto;
                  margin-top: 40px;
                }
                .text-head{
                  margin: 20px 0;
                  font-family: Open Sans;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 14px;
                  line-height: 19px;
                  text-align: justify;
                  color: $secondary-text;
                }

            }
            span{
                font-size: 18px;
                line-height: 25px;
            }

        }
    }
    .cont-prof{
    margin: auto ;
    margin-bottom:20px;
  }
  .text-prof{
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        text-transform: capitalize;
        line-height: 16px;
        color: $secondary-text;
    }
    .prof-input, .prof-input:active, .prof-input:focus{
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: $secondary-text;
        background-clip: padding-box;
        border: 1.5px solid $secondary-text !important;
        border-right: none !important;
        height: 36px !important;
        background: $primary-bg;
        box-shadow: none !important;
        outline: transparent !important;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .prof-button, .prof-button:hover,.prof-button:focus, .prof-button:active{
        position: relative;
        color: $secondary-text;
        background-color: $primary-bg;
        border: 1.5px solid $secondary-text !important;
        border-left: none !important;
        height: 36px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        box-shadow: none !important;
        outline: transparent !important;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .prof-button:after{
    position: absolute;
    border-left: 1px solid $secondary-text;
    height: 14px;
    width: 100%;
    bottom: 9px;
    left: 1px;
    content: "";
    }
    input[readonly], input[readonly]:focus{
    background: $primary-bg !important;
    color: #FFFFFF !important;
    }
    .custom-select {
    display: inline-block;
    width: 100%;
    height: 36px;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: $secondary-text;
    vertical-align: middle;
    //background: #fff url("../../img/chevron-big-down.svg") right 0.75rem center/8px 10px no-repeat;
    background-color: $primary-bg;
    background-image: url("/images/divider.svg" ), url("/images/chevron-big-down.svg" );
    background-repeat: no-repeat, no-repeat;
    background-position: right 2.3rem center, right 0.75rem center;
    background-size: 1px 14px, 8px 10px;
    box-shadow: none !important;
    outline: transparent !important;
    border-radius: 4px;
    border: 1.5px solid $secondary-text !important;
  }


}

</style>
