<template>
  <div class="setting">
    <b-container fluid class="container-main">
      <b-row no-gutters>
        <b-col cols="2">
          <div class="menu-side">
            <div class="header-menu text-left">Refer-a-friend</div>
            <div class="menu-item">
              <b-nav vertical>
                <b-nav-item :class="{activelink:selected == 1}" @click="inviteRefer();">Invite</b-nav-item>
                <b-nav-item :class="{activelink:selected == 2}" @click="statsRefer();">stats</b-nav-item>                
              </b-nav>
            </div>
          </div>
        </b-col>
        <b-col>
          <div class="content-side">
            <b-row no-gutters class="header-menu">
                <b-col cols="6" class="text-left my-auto">
                    {{titleCard}}
                </b-col>
                <b-col cols="6" class="text-right select-time" v-if="selected == 2">
                    <b-form-select
                    v-model="selectTime"
                    :options="optionsTime"                            
                    ></b-form-select>
                </b-col>                
            </b-row>            
            <div class="main-content">              
              <div class="cont-table" v-if="selected == 1">
                <invite-raf></invite-raf>
              </div>
              <div class="cont-table"  v-else-if="selected == 2">
                <stats-referrer v-if="referrer"></stats-referrer>
                <stats-affiliates v-else></stats-affiliates>
              </div>              
            </div>
          </div>
          <div class="content-side" v-if="selected == 2">
            <b-row no-gutters class="header-menu">
                <b-col cols="6" class="text-left my-auto">
                    Network
                </b-col>
                <b-col cols="6" class="text-right select-time" v-if="!referrer">
                    <b-form-select
                    v-model="selectTime2"
                    :options="optionsTime2"                            
                    ></b-form-select>
                </b-col>                             
            </b-row>            
            <div class="main-content" v-if="referrer">              
                <div class="network-cont">
                    <b-row no-gutters class="title-sub">
                        <b-col cols="6" class="text-left">
                            name
                        </b-col>
                        <b-col cols="3" class="text-center">
                            date joined
                        </b-col>
                        <b-col cols="3" class="text-right">
                            Active this month
                        </b-col>
                    </b-row>
                    <b-row no-gutters class="field-sub" v-for="(join, index) in netJoin" :key="index">
                        <b-col cols="6" class="text-left">
                            {{join.name}}
                        </b-col>
                        <b-col cols="3" class="text-center">
                            {{join.date}}
                        </b-col>
                        <b-col cols="3" class="text-right">
                            {{join.active}}
                        </b-col>
                    </b-row>
                </div>
            </div>
            <div class="main-content" v-else> 
                <div class="network-cont text-left">
                    See who is in your affiliate network in the chart below. When your affiliates invite other friends, they become part of your network too! In total you get up to 3 tiers of revenue sharing!
                </div>            
                <div class="network-cont">
                    <b-row no-gutters class="title-sub">
                        <b-col cols="4" class="text-left">
                            name
                        </b-col>
                        <b-col cols="2" class="text-center">
                            Turnover
                        </b-col>
                        <b-col cols="2" class="text-center">
                            NET GAMING REVENUE
                        </b-col>
                        <b-col cols="2" class="text-center">
                            COMMISSION
                        </b-col>
                        <b-col cols="2" class="text-right">
                            Date joined
                        </b-col>
                    </b-row>
                    <b-row no-gutters class="field-sub" v-for="(aff, index) in netAffiliates" :key="index">
                        <b-col cols="4" class="text-left">
                            {{aff.name}}                            
                        </b-col>
                        <b-col cols="2" class="text-center">
                            USD {{aff.turn}}
                        </b-col>
                        <b-col cols="2" class="text-center">
                            USD {{aff.net}}
                        </b-col>
                        <b-col cols="2" class="text-center">
                            USD {{aff.commision}}
                        </b-col>
                        <b-col cols="2" class="text-right">
                            {{aff.date}}
                        </b-col>
                        
                    </b-row>
                </div>
            </div>
            <div class="network-cont">
                <Tree
                id="my-tree-id"
                ref="my-tree"
                :custom-options="myCustomOptions"
                :custom-styles="myCustomStyles"
                :nodes="treeDisplayData"
                ></Tree>
            </div>         
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import inviteRaf from "../components/inviteRaf.vue";
import statsReferrer from "../components/statsReferrer.vue";
import statsAffiliates from "../components/statsAffiliates.vue";
import Tree from 'vuejs-tree'

export default {
  name: "Refer-A-Friend",
  components: {
    inviteRaf,
    statsReferrer,
    statsAffiliates,
    Tree
  },
  data() {
    return {      
      titleCard:'Invite',
      referrer: false,
      selected: 1,
      selectTime: 1,
      optionsTime: [{
          value: 1,
          text: 'Year',
          },{
          value: 2,
          text: 'Month'
          }, {
          value: 3,
          text: 'Days'
          }
        ],
      selectTime2: 2,
      optionsTime2: [{
          value: 1,
          text: 'Year',
          },{
          value: 2,
          text: 'Month'
          }, {
          value: 3,
          text: 'Days'
          }
        ],
      netJoin: [{
          name: 'Jane Cooper',
          date: '01/01/2021',
          active: 'Yes'
          },{
          name: 'John Smith',
          date: '01/01/2021',
          active: 'Yes'
          }, {
          name: 'Cameron Williamson',
          date: '01/01/2021',
          active: 'Yes'
          }, {
          name: 'Esther Howard',
          date: '01/01/2021',
          active: 'Yes'
          }, {
          name: 'Wade Warren',
          date: '01/01/2021',
          active: 'Yes'
          }
        ],
        netAffiliates: [{
          name: 'Jonathan Kay',
          turn: '1,000,000.00',
          net: '1,000,000.00',
          commision: '1,000,000.00',
          date: '01/01/2021',          
          },{
          name: 'Z9018239',
          turn: '1,000,000.00',
          net: '1,000,000.00',
          commision: '1,000,000.00',
          date: '01/01/2021',
          }, {
          name: 'Cameron Williamson',
          turn: '1,000,000.00',
          net: '1,000,000.00',
          commision: '1,000,000.00',
          date: '01/01/2021',
          }, {
          name: 'Andy Wong',
          turn: '1,000,000.00',
          net: '1,000,000.00',
          commision: '1,000,000.00',
          date: '01/01/2021',
          }, {
          name: 'W3456789SD',
          turn: '1,000,000.00',
          net: '1,000,000.00',
          commision: '1,000,000.00',
          date: '01/01/2021',
          }
        ],    
      treeDisplayData: [
        {
          text: "Root 1",
          id: 1,
          checkable: false,
          selectable:false,          
          nodes: [
            {
              text: "Child 1",
              id: 3,
              checkable: false,
              selectable:false,              
              nodes: [
                {
                  text: "Grandchild 1",
                  id: 5,
                  checkable: false,
                  selectable:false,
                },
                {
                  text: "Grandchild 2",
                  id: 6,
                  checkable: false,
                  selectable:false,
                },
              ],
            },
            {
              text: "Child 2",
              id: 4,
              checkable: false,
              selectable:false,
            },
          ],
        },
        {
          text: "Root 2",
          id: 2,
          checkable: false,
          selectable:false,
        },
      ],
    };
  },
  computed: {
    myCustomStyles() {
      return {
        tree: {
          height: "auto",
          maxHeight: "300px",
          overflowY: "visible",
          display: "inline-block",
        },
        row: {
          width: "200px",
          cursor: "pointer",
          child: {
            height: "35px",
          },
        },
        text: {
          style: {},
          active: {
            style: {
              "font-weight": "bold",
              color: "#2ECC71",
            },
          },
        },
      };
    },
    myCustomOptions() {
      return {
        treeEvents: {
          expanded: {
            state: true,
          },
          collapsed: {
            state: false,
          },
          selected: {
            state: false,
            fn: this.mySelectedFunction,
          },
          checked: {
            state: false,
            fn: this.myCheckedFunction,
          },
        },
        events: {
          expanded: {
            state: true,
          },
          selected: {
            state: true,
          },
          checked: {
            state: true,
          },
          editableName: {
            state: true,
            calledEvent: "expanded",
          },
        },
        addNode: {
          state: false,
          fn: this.addNodeFunction,
          appearOnHover: false,
        },
        editNode: { state: false, fn: null, appearOnHover: false },
        deleteNode: {
          state: false,
          fn: this.deleteNodeFunction,
          appearOnHover: true,
        },
        showTags: true,
      };
    },
  },
  mounted() {
    this.$refs["my-tree"].expandNode(1);
  },
  methods: {
    inviteRefer() {
     this.titleCard= "Invite";
     this.selected= 1;
    },
    statsRefer() {
      this.titleCard= "stats";
      this.selected= 2;
    },
    myCheckedFunction: function (nodeId, state) {
      console.log(`is ${nodeId} checked ? ${state}`);
      console.log(this.$refs["my-tree"].getCheckedNodes("id"));
      console.log(this.$refs["my-tree"].getCheckedNodes("text"));
    },
    mySelectedFunction: function (nodeId, state) {
      console.log(`is ${nodeId} selected ? ${state}`);
      console.log(this.$refs["my-tree"].getSelectedNode());
    },
    deleteNodeFunction: function (node) {
      const nodePath = this.$refs["my-tree"].findNodePath(node.id);
      const parentNodeId = nodePath.slice(-2, -1)[0];
      if (parentNodeId === undefined) {
        // 'root' node
        const nodeIndex =
          this.$refs["my-tree"].nodes.findIndex((x) => x.id !== node.id) - 1;
        this.$refs["my-tree"].nodes.splice(nodeIndex, 1);
      } else {
        // child node
        const parentNode = this.$refs["my-tree"].findNode(parentNodeId);
        const nodeIndex =
          parentNode.nodes.findIndex((x) => x.id !== node.id) - 1;
        parentNode.nodes.splice(nodeIndex, 1);
      }
      console.log("example: remove node", node.id);
    },
    addNodeFunction: function (node) {
      const newNode = {
        text: "Grandchild 2",
        id: Math.floor(Math.random() * 100),
        checkable: false,
      };
      console.log("example: add node", newNode);
      if (node.nodes === undefined) {
        // the node doesn't have childs
        // I use $set to ensure that VueJs detect the change
        this.$set(node, "nodes", [newNode]);
      } else {
        node.nodes.push(newNode);
      }
    },    
  },
  
};
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

.container-main { 
    .main-content {
      margin-bottom: 20px;           
    }
    .network-cont{
        margin: 20px auto;    
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: $secondary-text;
        .title-sub{
            margin-bottom: 20px;
            color: $text-grey-dark;
            font-weight: bold;
            text-transform: uppercase;
        }
        .field-sub{
            margin-bottom: 20px;
            font-weight: bold;
            text-transform: capitalize;    
        }
      }
  .menu-side{
      min-height: 238px !important;
  }
  .header-menu{
    //   padding-bottom: 21px !important;
    .select-time{
        position: relative;
    }
      .custom-select {
      position: absolute;
      right: 0;
      bottom: -10px;
      display: inline-block;
      width: 168px;
      height: 36px;
      padding: 0.375rem 1.75rem 0.375rem 0.75rem;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      text-transform: capitalize;
      color: $secondary-text;
      vertical-align: middle;
      background-color: $primary-bg;
      background-image: url("/images/chevron-big-down.svg" );
      background-repeat:no-repeat;
      background-position:right 0.75rem center;
      background-size: 8px 10px;
      box-shadow: none !important;
      outline: transparent !important;
      border-radius: 4px;
      border: 1px solid $secondary-text !important;
    }
  }
}

</style>