<template>
  <div class="register">
    <div class="container">
      <b-row no-gutters class="justify-content-center">
        <b-col cols="12">
          <img :src="require('../../img/sign-up.svg')" alt="" />
        </b-col>
        <b-col cols="12">
          <div class="desc-img">Sign Up For Free!</div>
        </b-col>
        <b-col v-if="isError" cols="12">
          <div class="text-error">
            {{ errorMessage }}
          </div>
        </b-col>
      </b-row>
      <b-row no-gutters class="justify-content-center">
        <b-col cols="12">
          <b-form @submit="onSubmit" v-if="show">
            <b-form-group id="input-group-1">
              <div class="input-icon">
                <b-form-input
                  id="input-1"
                  v-model="form.name"
                  placeholder="Username"
                  required
                ></b-form-input>
                <auth-tooltip></auth-tooltip>
              </div>
            </b-form-group>
            <b-form-group id="input-group-2">
              <b-form-input
                type="password"
                id="input-2"
                v-model="form.pass"
                aria-describedby="password-help-block"
                placeholder="Password"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-3">
              <b-form-input
                type="password"
                id="input-3"
                v-model="form.conpass"
                aria-describedby="password-help-block"
                placeholder="Confirm Password"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-4">
              <b-form-input
                id="input-4"
                v-model="form.code"
                placeholder="Affiliate Code"
              ></b-form-input>
            </b-form-group>
            <button type="submit" class="btn btn-create" :disabled="loading">
              Create New Account
            </button>
          </b-form>
        </b-col>
        <b-col cols="12">
          <div class="have-login">
            Already registered? Login
            <router-link to="/login">Here</router-link>!
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import authTooltip from "../components/authTooltip.vue";

export default {
  name: "Register",
  data() {
    return {
      form: {
        name: "",
        pass: "",
        conpass: "",
        code: "",
      },
      loading: false,
      show: true,
      isError: false,
      errorMessage: "",
    };
  },
  methods: {
    async onSubmit(event) {
      event.preventDefault();

      // Check the confirmation password
      if (!this.form.conpass || this.form.pass !== this.form.conpass) {
        this.loading = false;
        this.isError = true;
        this.errorMessage = "The password doesn't match.";
        return;
      }

      // Submit when form filled
      if (this.form.name && this.form.pass) {
        this.loading = true;

        // Dispatch
        await this.$store.dispatch("auth/REGISTER", {
          username: this.form.name,
          password: this.form.pass,
          confirm_password: this.form.conpass,
          affiliate: this.form.code == "" ? undefined : this.form.code,
        });

        this.loading = false;
        this.isError = this.$store.state.auth.isError;
        this.errorMessage = this.$store.state.auth.errorMessage;
      }
    },
  },
  components: {},
};
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

.register {
  padding-top: 20px;
  min-height: 792px;

  .container {
    width: 335px;
    .text-error {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #fa4343;
    }
    .desc-img {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: $primary-text;
    }
    .col-12 {
      margin-bottom: 20px;
    }
    .input-icon {
      position: relative;
      width: 100%;
      height: calc(1.5em + 0.75rem);
      box-sizing: border-box;
      .form-control {
        width: 100%;
        height: 100%;
        padding-right: 28px;
      }
      .icon-info {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // box-sizing: border-box;
      }
    }
    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem);
      padding: 0.375rem 0.75rem;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: $tertiary-text;
      background-color: $primary-bg;
      background-clip: padding-box;
      border: 1px solid $secondary-text;
      border-radius: 4px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .form-control:active,
    .form-control:focus {
      box-shadow: unset !important;
    }

    .btn-create {
      width: 100% !important;
      height: 46px;
      border-radius: 4px;
      background: $primary-text;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #1d2b36;
      padding: 0 !important;
    }
    .have-login {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #878787;
    }
    a {
      color: $primary-text;
      text-decoration: none;
    }
  }
}
</style>
