<template>
  <div class="forgot-password">
    <div class="container">
      <b-row no-gutters class="justify-content-center">
        <b-col cols="12">
          <div class="title-hed">Reset Password</div>
        </b-col>
      </b-row>
      <b-row no-gutters class="justify-content-center">
        <b-col cols="12">
          <b-form @submit="onSubmit" v-if="show">
            <b-form-group id="input-group-1">
              <b-form-input
                type="password"
                id="input-2"
                v-model="form.pass"
                aria-describedby="password-help-block"
                placeholder="New Password"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-2">
              <b-form-input
                type="password"
                id="input-3"
                v-model="form.conpass"
                aria-describedby="password-help-block"
                placeholder="Confirm Password"
                required
              ></b-form-input>
              <div
                v-if="this.$store.state.auth.resetPassword.isError"
                style="margin-top: 15px"
                class="text-error"
              >
                {{ this.$store.state.auth.resetPassword.errorMessage }}
              </div>
            </b-form-group>
            <button type="submit" class="btn btn-create" :disabled="isLoading">
              reset password
            </button>
          </b-form>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: "Forgot",
  data() {
    return {
      form: {
        pass: "",
        conpass: "",
      },
      show: true,
      token: "",
      isLoading: false,
    };
  },
  created() {
    this.token = this.$route.params.token;
  },
  methods: {
    async onSubmit(event) {
      event.preventDefault();
      this.isLoading = true;

      // Reset the error
      this.$store.commit("auth/SET_ERROR_RESET_PASSWORD", {
        isError: false,
        errorMessage: "",
      });

      // Dispatch
      await this.$store.dispatch("auth/RESET_PASSWORD", {
        password: this.form.pass,
        confirm_password: this.form.conpass,
        token: this.token,
      });
      this.isLoading = false;
    },
  },
  components: {},
};
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

.forgot-password {
  padding-top: 20px;
  min-height: 792px;
  .container {
    width: 335px;
    .text-error {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #fa4343;
    }
    .title-hed {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: $primary-text;
    }
    .col-12 {
      margin-bottom: 20px;
    }
    .form-group {
      margin-bottom: 20px;
    }
    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem);
      padding: 0.375rem 0.75rem;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: $tertiary-text;
      background-color: $primary-bg;
      background-clip: padding-box;
      border: 1px solid $secondary-text;
      border-radius: 4px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .form-control:active,
    .form-control:focus {
      box-shadow: unset !important;
    }

    .btn-create {
      width: 100% !important;
      height: 46px;
      border-radius: 4px;
      background: $primary-text;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #1d2b36;
      padding: 0 !important;
    }
    a {
      color: $primary-text;
      text-decoration: none;
    }
  }
}
</style>
