<template>
  <div class="setting">
    <b-container fluid class="container-main">
      <b-row no-gutters>
        <b-col cols="2">
          <div class="menu-side">
            <div class="header-menu text-left">Settings</div>
            <div class="menu-item">
              <b-nav vertical>
                <b-nav-item :class="{activelink:selected == 1}" @click="userProfile();">User profile</b-nav-item>
                <b-nav-item :class="{activelink:selected == 2}" @click="password();">Password</b-nav-item>
                <b-nav-item :class="{activelink:selected == 3}" @click="twoFA(); ">Two-factor authentication</b-nav-item>
                <b-nav-item :class="{activelink:selected == 4}" @click="telegram();">Telegram</b-nav-item>
                <b-nav-item :class="{activelink:selected == 5}" @click="accountDelete();">Account deletion</b-nav-item>
              </b-nav>
            </div>
          </div>
        </b-col>
        <b-col>
          <div class="content-side">
            <div class="header-menu text-left">{{titleCard}}</div>
            <div class="main-content">              
              <div class="cont-table" v-if="selected == 1">
                <user-profile></user-profile>
              </div>
              <div class="cont-table"  v-else-if="selected == 2">
                <password-setting></password-setting>
              </div>
              <div class="cont-table"  v-else-if="selected == 3">
                <two-fa-setting></two-fa-setting>
              </div>
              <div class="cont-table"  v-else-if="selected == 4">
                <telegram-setting></telegram-setting>
              </div>
              <div class="cont-table"  v-else-if="selected == 5">
                <account-deletion-setting></account-deletion-setting>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import userProfile from "../components/userProfile.vue";
import passwordSetting from "../components/passwordSetting.vue"
import twoFaSetting from "../components/twoFaSetting.vue"
import telegramSetting from "../components/telegramSetting.vue"
import accountDeletionSetting from "../components/accountDeletionSetting.vue"

export default {
  name: "Transaction",
  data() {
    return {
      titleCard:'User profile',
      selected: 1,
      
    };
  },
  
  methods: {
    userProfile() {
     this.titleCard= "User profile";
     this.selected= 1;
    },
    password() {
      this.titleCard= "Password";
      this.selected= 2;
    },
    twoFA() {
      this.titleCard= "Two-factor authentication";
      this.selected= 3;
    },
    telegram() {
      this.titleCard= "telegram";
      this.selected= 4;
    },
    accountDelete() {
      this.titleCard= "Account deletion";
      this.selected= 5;
    }
  },
  components: {
    userProfile,
    passwordSetting,
    twoFaSetting,
    telegramSetting,
    accountDeletionSetting
  },
};
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

.container-main { 
    .main-content {
      margin-bottom: 20px;      
  } 
}

</style>