<template>
  <div class="support">
    <b-jumbotron class="mx-auto">
    </b-jumbotron>
    <div class="content-htp">
        <b-row no-gutters style="margin-top:20px;">
            <b-col class="text-left" cols="2">
                <div class="title-head">
                    Support
                </div>
            </b-col>
        </b-row>
        <div class="content-main">
                <span> Title Here </span><br/><br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                <br/><br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Support',
  data (){
      return{
        value: '',
      }
  },
  components: {

  }
}
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

.support{
max-width: 1440px;
margin: auto;
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0;
    background-color: #040D12;
    border-radius: 0.3rem;
    background-image: url("/images/support-jumbotron.svg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    height: 360px;
    position: relative;
    border-radius: 0 !important;
    }
    .content-htp{
        padding: 0 120px;
        margin: auto !important;
        .title-head{
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            color: $secondary-text;

        }
        .content-main{
            margin-top: 20px;
            font-family: Open Sans;
            font-style: normal;
            font-size: 14px;
            font-weight: normal;
            line-height: 19px;
            color: $secondary-text;
            text-align: left;
            min-height: 293px;
            span{
                font-weight: bold;
            }

        }
    }

}

</style>
