<template>
  <div class="transaction">
    <b-container fluid class="container-main">
      <b-row no-gutters>
        <b-col cols="2">
          <div class="menu-side">
            <div class="header-menu text-left">Transactions</div>
            <div class="menu-item">
              <b-nav vertical>
                <b-nav-item
                  :class="{ activelink: selected == 1 }"
                  @click="
                    bet();
                    selected = 1;
                  "
                  >Bets</b-nav-item
                >
                <b-nav-item
                  :class="{ activelink: selected == 2 }"
                  @click="
                    debitCredit('credit');
                    selected = 2;
                  "
                  >Credits</b-nav-item
                >
                <b-nav-item
                  :class="{ activelink: selected == 3 }"
                  @click="
                    debitCredit('debit');
                    selected = 3;
                  "
                  >Debits</b-nav-item
                >
                <b-nav-item
                  :class="{ activelink: selected == 4 }"
                  @click="
                    referFriend();
                    selected = 4;
                  "
                  >refer-a-friend</b-nav-item
                >
              </b-nav>
            </div>
          </div>
        </b-col>
        <b-col>
          <div class="content-side">
            <div class="header-menu text-left">{{ titleCard }}</div>
            <div class="main-content">
              <b-row no-gutters>
                <b-col class="dropdown-table text-left">
                  <b-dropdown
                    size="sm"
                    toggle-class="text-decoration-none"
                    center
                    no-caret
                  >
                    <template #button-content>
                      <input
                        type="text"
                        class="custom-select-table"
                        v-model="selectedStatusName"
                        disabled
                      />
                    </template>
                    <b-dropdown-item
                      v-for="(status, index) in statuses"
                      :key="status"
                      @click="statusChanged(index)"
                    >
                      {{ status }}
                    </b-dropdown-item>
                  </b-dropdown>
                </b-col>
                <b-col class="date-cont text-right">
                  <div class="cont-dates">
                    <div class="date1">
                      <date-picker
                        v-model="dateStart"
                        placeholder="Start Date"
                        @change="filter"
                      ></date-picker>
                    </div>
                    <div class="date-separator">TO</div>
                    <div class="date1">
                      <date-picker
                        v-model="dateFinish"
                        placeholder="End Date"
                        @change="filter"
                      ></date-picker>
                    </div>
                  </div>
                </b-col>
              </b-row>
              <div class="cont-table">
                <v-client-table
                  ref="table"
                  :data="tableData"
                  class="vue-tables-custom-style"
                  :columns="columns"
                  :options="options"
                >
                </v-client-table>
                <div
                  class="exp-tbl"
                  v-if="tableData.length != 0"
                  @click="downloadCsv"
                >
                  <img :src="require('../../img/export-csv.svg')" alt="" />
                </div>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import moment from "moment";

export default {
  name: "Transaction",
  data() {
    return {
      statuses: ["All", "Pending", "Completed"],
      selectedStatus: 0,
      dateStart: null,
      dateFinish: null,
      titleCard: "Bets",
      selected: 1,
      columns: [
        "date",
        "transaction",
        "game",
        "desc",
        "amount",
        "wl",
        "status",
      ],
      options: {
        headings: {
          date: "Date",
          transaction: "Transaction",
          game: "Game-Event",
          desc: "Description",
          amount: "Amount",
          wl: "Win/Loss",
          status: "Status",
        },
        sortable: ["date", "status"],
        filterable: false,
        perPage: 10,
        pagination: { show: true, chunk: 4, dropdown: false, nav: "fixed" },
        sortIcon: {
          base: "fa",
          is: "fa-sort",
          up: "fa-sort-asc",
          down: "fa-sort-desc",
        },

        showChildRowToggler: true,
        childRowTogglerFirst: true,
      },
      selectedTableData: "", // bet / credit / deposit
      tableData: [],
    };
  },
  created() {
    this.$store.dispatch("transaction/GET_CREDIT", {});
  },
  methods: {
    /**
     * Triggered when user click credit/debit tab
     */
    async debitCredit(value) {
      // 1. Change the table layout for debit/credit
      let options = this.$store.state.transaction.tableOptions;
      options.headings = this.$store.state.transaction.headingDebitCredit;
      this.columns = this.$store.state.transaction.columnDebitCredit;
      this.options = options;

      // Reset Filter
      this.resetFilter();

      // 2. Dispatch for getting table data
      if (value == "debit") {
        this.selectedTableData = "debit";
        this.titleCard = "debits";

        this.tableData = this.$store.getters["transaction/debitTableData"];

        await this.$store.dispatch("transaction/GET_DEBIT", {});
      }
      if (value == "credit") {
        this.selectedTableData = "credit";
        this.titleCard = "credits";

        this.tableData = this.$store.getters["transaction/creditTableData"];

        await this.$store.dispatch("transaction/GET_CREDIT", {});
      }
    },
    /**
     * Triggered when user click refer friend tab
     */
    referFriend() {
      this.titleCard = "refer-a-friend";
      this.resetFilter();

      // 1 Change Table Layout
      let options = this.$store.state.transaction.tableOptions;
      options.headings = this.$store.state.transaction.headingFriends;
      this.columns = this.$store.state.transaction.columnFriends;
      this.options = options;

      /**
       * TODO: 2. Dispatch for getting table data
       */
      this.tableData = [];
    },
    /**
     * Triggered when user click bets tab
     */
    bet() {
      this.titleCard = "bets";
      this.resetFilter();

      // 1 Change Table Layout
      let options = this.$store.state.transaction.tableOptions;
      options.headings = this.$store.state.transaction.headingBets;
      this.columns = this.$store.state.transaction.columnBets;
      this.options = options;

      /**
       * TODO: 2. Dispatch for getting table data
       */
      this.tableData = [];
    },
    getTableData() {
      if (this.selectedTableData == "credit") {
        this.tableData = this.$store.getters["transaction/creditTableData"];
      }
      if (this.selectedTableData == "debit") {
        this.tableData = this.$store.getters["transaction/debitTableData"];
      }
    },
    /**
     * When Status get Changed
     */
    statusChanged(index) {
      this.selectedStatus = index;
      this.filter();
    },
    /**
     * Do the filter
     */
    filter() {
      this.getTableData();

      // Date Start Filter
      if (this.dateStart != null) {
        let filterDate = new Date(this.dateStart);
        this.tableData = this.tableData.filter((item) => {
          let itemDate = moment(item.date, "YYYY-MM-DD HH:mm:ss");
          return itemDate >= filterDate;
        });
      }

      // Date Finish Filter
      if (this.dateFinish != null) {
        let filterDate = new Date(this.dateFinish);
        this.tableData = this.tableData.filter((item) => {
          let itemDate = moment(item.date, "YYYY-MM-DD HH:mm:ss");
          return itemDate <= filterDate;
        });
      }

      // Status Filter
      if (this.selectedStatus != 0) {
        this.tableData = this.tableData.filter((item) => {
          return (
            this.statuses[this.selectedStatus].toLowerCase() ==
            item.status.toLowerCase()
          );
        });
      }
    },
    /**
     * Reset Filter when changing the tab
     */
    resetFilter() {
      this.dateStart = null;
      this.dateFinish = null;
      this.selectedStatus = 0;
    },
    /**
     * Convert/Download table data to CSV
     */
    downloadCsv() {
      let csv = this.columns.join(",") + "\n";
      this.tableData.forEach((row) => {
        csv += Object.values(row).join(",");
        csv += "\n";
      });

      const anchor = document.createElement("a");
      anchor.href = "data:text/csv;charset=utf-8," + encodeURIComponent(csv);
      anchor.target = "_blank";
      anchor.download = `${this.titleCard}_${moment().format(
        "YYYY-MM-DD"
      )}.csv`;
      anchor.click();
    },
  },
  mounted() {
    while (this.tableData.length < 100) {
      this.tableData.push({
        date: "01-01-2021 12:00",
        transaction: "123456789ABC",
        game: "Snatch - Round ID",
        desc: "Bid 24",
        amount: "ALGO 88",
        wl: "ALGO 150",
        status: "Loss",
      });
    }
  },
  watch: {
    creditTableData: function () {
      this.getTableData();
    },
    debitTableData: function () {
      this.getTableData();
    },
  },
  computed: {
    ...mapGetters({
      creditTableData: "transaction/creditTableData",
      debitTableData: "transaction/debitTableData",
    }),
    selectedStatusName: function () {
      return `Status: ${this.statuses[this.selectedStatus]}`;
    },
  },
  components: {
    DatePicker,
  },
};
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";
.container-main {
  padding: 3px !important;
  background-color: transparent;
  max-width: 1210px !important;
  margin: auto;
  margin-top: 20px;
  position: relative;
  .menu-side {
    max-width: 200px;
    min-height: 360px;
    padding: 18px 20px 0;
    background: $primary-bg;
    border: 1px solid #b6b6b6;
    //box-sizing: border-box;
    border-radius: 4px;
    .menu-item {
      margin: 15px 0;
      .activelink {
        color: $primary-text !important;
        .nav-link {
          color: $primary-text !important;
        }
      }
      .nav-link {
        padding: 17px 0 !important;
        text-align: left;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: $tertiary-text;
      }
    }
  }
  .header-menu {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: $primary-text;
    border-bottom: 1px solid #b6b6b6;
    padding-bottom: 20px;
  }
  .content-side {
    margin-left: 20px;
    margin-bottom: 20px;
    max-width: 980px;
    min-height: 360px;
    padding: 18px 20px 0;
    background: $primary-bg;
    border: 1px solid #b6b6b6;
    //box-sizing: border-box;
    border-radius: 4px;
    .main-content {
      margin-bottom: 20px;
      .cont-table {
        position: relative;
        .exp-tbl {
          position: absolute;
          bottom: 0;
          right: 0;
          // top: 50%;
          // transform: translate(-50%, -50%);
        }
      }
    }
  }

  .vue-tables-custom-style {
    padding: 0;
    th {
      border: 1px solid $primary-bg !important;
      background: $primary-bg !important;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      text-transform: capitalize;
      color: $secondary-text;
      padding: 10px 0 !important;
      //height: 40px !important;
      text-align: left;
    }
    td {
      border: 1px solid $primary-bg !important;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: $secondary-text;
      text-transform: capitalize;
      padding: 10px 0px !important;
      text-align: left;
      //height: 40px !important;
    }
    // tr:nth-child(odd) {
    //   background: $tbl-child-1 !important;
    //   color: $primary-text;
    // }
    // tr:nth-child(even) {
    //   background: $tbl-child-2 !important;
    //   color: $primary-text;
    // }
  }
  .VuePagination__count {
    padding: 0;
    padding-top: 7px;
    margin: 0;
    vertical-align: middle;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $secondary-text !important;
  }
  .VuePagination {
    border-top: 1px solid #b6b6b6;
    padding: 10px 0 0 0;
    margin: 0;
  }
  .pagination {
    background: transparent !important;
    color: $secondary-text !important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    position: absolute;
    right: 30px;
  }
  .page-item {
    background: transparent !important;
    color: $secondary-text !important;
    padding: 0;
  }
  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $secondary-text;
    background-color: transparent !important;
    border: transparent !important;
    cursor: pointer;
  }
  .page-item.active .page-link {
    z-index: 3;
    border-radius: 3px;
    color: #1d2b36 !important;
    background-color: $primary-text !important;
    border-color: transparent !important;
    padding: 4px 8px;
    align-items: center;
    margin-top: 4px;
  }

  .page-item.disabled .page-link {
    background: transparent !important;
    color: $secondary_text !important;
    border-color: transparent !important;
  }

  .pull-right {
    float: none;
  }
  .fa.pull-right {
    margin-left: 0.6em;
  }
  .VueTables__limit {
    display: none !important;
  }
}
.dropdown-table {
  margin: 20px 0;
  .custom-select-table {
    background-color: $primary-bg !important;
    background-image: url("../../img/chevron\ down.svg");
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 8px 12px;
    border: 1px solid $secondary_text !important;
    vertical-align: middle;
    color: $secondary_text !important;
    padding: 4px 25px 4px 10px !important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    height: 36px !important;
    width: 156px;
    border-radius: 4px;
  }

  .btn-secondary,
  .btn-secondary:hover,
  .show > .btn-secondary.dropdown-toggle,
  .btn-secondary:focus {
    color: $primary-text;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
  }
  .nav-link {
    display: block;
    padding: 0 20px 0 0 !important;
  }
  .btn-sm,
  .btn-group-sm > .btn {
    //padding: 5px 0 4px 0 !important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0.2rem;
    padding: 0 !important;
  }
  .dropdown-toggle::after {
    font-size: 14px !important;
  }
  .dropdown-menu {
    color: $secondary-text !important;
    background-color: $primary-bg !important;
    border: 1px solid $secondary-text;
    border-radius: 0.25rem;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    min-width: 156px;
  }
  .dropdown-item {
    color: $secondary-text !important;
    padding: 4px 5px !important;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    span {
      text-transform: uppercase;
    }
  }
  .dropdown-item:hover,
  .dropdown-item:active,
  .dropdown-item:focus {
    background: $secondary-bg !important;
  }
}
.date-cont {
  margin: 20px 0;
  .mx-datepicker {
    width: 106px;
  }
  .mx-input {
    width: 100%;
    height: 36px !important;
    padding: 6px 26px;
    padding-left: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px !important;
    line-height: 16px;
    color: $secondary_text;
    background-color: $primary-bg !important;
    border: 1px solid $secondary_text !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  .mx-icon-calendar,
  .mx-icon-clear {
    color: $secondary_text !important;
  }
  .cont-dates {
    display: inline-flex;
  }
  .date-separator {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
    color: $secondary_text;
    margin: auto 10px;
  }
}
.mx-datepicker-main {
  font: 14px/1.5 Open Sans;
  color: $secondary_text !important;
  background-color: $primary-bg !important;
  border: 1px solid $primary-bg;
}
</style>