<template>
<div>    
    <div class="tfa-setting">
        <div class="text-head">
            You can delete your account without the possibility of recovery. This action is only available when the balance of each account is less that the minimum transfer amount of the corresponding cryptocurrency and there are no virtual currency balances. There must also be no active margins or purses connected to this account.
        </div>
        <div class="cont-qr">
            <button
            type="submit"
            class="btn btn-create btn-delete"                                     
            >
            delete account
            </button>
        </div>
    </div>
</div>
</template>
<script>
export default {
    data() {
    return {
   
   
    };
  },
  methods:{
     
  },
}
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";
.tfa-setting{
    .text-head{
    margin-top: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    color: $secondary-text;
    }
    .cont-qr{
    margin: 20px auto;
    width: 335px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $secondary-text;
    .row-qr{
        margin: auto;
        width: 226px;
    }
    .col-qr{
        margin-bottom: 20px;
        position: relative;
        .qr-img{
            position: absolute; 
            left: 50%; 
            top: 50%; 
            transform: translate(-50%, -50%);
            z-index: 999;
        }
    }
    .code-col-qr{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $primary-text;
        }       
    .btn-create {
    width: 100% !important;
    height: 46px;
    border-radius: 4px;
    background: $primary-text;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1d2b36;
    padding: 0 !important;
  }
  .btn-delete{
      background: $text-red !important;
      color: $secondary-text !important;
  }
  }
}
</style>