<template>
  <div id="AppContainer">
    <nav-header></nav-header>
    <router-view/>
    <nav-footer></nav-footer>
  </div>
</template>
<script>
import navHeader from '../components/navHeader.vue'
import navFooter from '../components/navFooter.vue'

export default {
  data(){
    return{

    }
  },
  components: {
    navHeader,
    navFooter
  }
}
</script>

<style lang="scss">
@import "./resources/sass/variables.scss";

#AppContainer{
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  //margin-top: 60px;
  background: $primary-bg;
  }

@media screen and (min-height: 958px){
  #AppContainer {    
    min-height: 100vh;
  }
}
</style>
