<template>
  <div class="recent-link">
    <img :src="require('../../img/info.svg')" class="icon-info" alt="" />
    <span class="hovercard">
      <div class="tooltiptext">
        • Minimum length is 6 characters, maximum is 16<br />
        • Can only contain letters and numbers, caps sensitive<br />
        • Cannot contain symbols or spaces<br />
        • Once created, cannot be changed or deleted<br />
      </div>
    </span>
  </div>
</template>

<script>
export default {
};
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

.hovercard {
  position: absolute;
  opacity: 0;
  z-index: 1;
  right: -90%;
  bottom: -70%;
}

.recent-link:hover .hovercard {
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.1s;
}

.tooltiptext {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  align-items: center;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 4px;
  border-radius: 5px;
  border-width: 10px;
  border: 0.5px solid #ffcd3e;
  box-sizing: border-box;
  text-align: left;
}
</style>
