<template>
  <div class="carousel-card">
      <div class="car-top">
          <img :src="require(`../../img/${imageUrl}`)" class="game-img" alt="">
          <div class="text-game">
              {{titles}}
          </div>
          <div class="middle">
            <img :src="require('../../img/play-game.svg')" class="play-img" alt="">
          </div>
          <div class="bg-car-top"></div>
      </div>
      <div class="car-bottom" :style="bgStyles">
          <div class="content-bottom">
              <b-row no-gutters>
                  <b-col cols="12" md="6" class="text-center">
                    <donut-chart :rateDay="rateWin" class="donut-mobile"></donut-chart>
                    <!-- <doughnut-chart :rateDay="rateWin" class="donut-mobile"></doughnut-chart> -->
                  </b-col>
                  <b-col cols="12" md="6" style="margin:auto;">
                    <div class="cont-bot">
                        <div class="text-head text-left">
                            Biggest Win
                        </div>
                        <b-row no-gutters class="text-cont">
                            <b-col class="text-left">
                                User1245
                            </b-col>
                            <b-col class="text-left" cols="6" md="7">
                                1.28x
                            </b-col>
                        </b-row>
                    </div>
                    <div>
                        <div class="text-head text-left">
                            Recent Win
                        </div>
                        <b-row no-gutters class="text-cont">
                            <b-col class="text-left">
                                User1245
                            </b-col>
                            <b-col class="text-left" cols="6" md="7">
                                88.28000000 <img :src="require('../../img/tokenAlgo.svg')" alt=""  class="icon-algo">
                            </b-col>
                        </b-row>
                    </div>
                  </b-col>
              </b-row>
          </div>
      </div>
  </div>
</template>
<script>
import donutChart from '../components/donutChart.vue'
// import doughnutChart from '../components/doughnutChart.js'

export default {
  name: 'Carousel',
  components:{
    donutChart,
    // doughnutChart
  },
  data(){
      return{
      sections: [
          { label: 'Win', value: 100-this.rateWin, color: '#DE0035' },
          { label: 'Lose', value: this.rateWin , color: '#48C364' },

        ]
  }},
props: {
    titles: String,
    imageUrl: String,
    bgColor: String,
    rateWin: Number
  },
//   watch: {
//     rateWin(val) {
//      this.sections.value = val;
//    }
//   },
computed: {
    bgStyles() {
      return {
        "background-color": this.bgColor
      };
    },
  },
}
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

.carousel-card{
    position: relative;
    width: 380px;
    height: 420px;
    .car-top{
        position: absolute;
        top: 0;
        width: 380px;
        height: 249px;
        //background: turquoise;
        z-index: 100;
    }
    .car-bottom{
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        width: 380px;
        height: 300px;
        //background: #0E3C2B;
        .content-bottom{
            //position: absolute;
            padding-top:130px;
            margin: auto 10px auto 20px;
            //bottom: 0;
            .donut-mobile{
              padding: 5px 5px 10px;
            }
            .text-head{
                margin-bottom: 10px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                color: $secondary-text;
            }
            .text-cont{
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                display: flex;
                align-items: center;
                text-transform: capitalize;
                color: $secondary-text;
                .icon-algo{
                  width: 14px;
                  height:14px;
                  display: initial;
                  padding-bottom: 3px;
                }
            }
            .donut-title{
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 36px;
                text-transform: capitalize;
                color: $secondary-text;
            }
            .donut-text{
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                color: $secondary-text;
            }
        }
        .cont-bot{
          margin-bottom:20px;
        }
    }
}
.game-img{
    padding-top: 10px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
}
.text-game{
    opacity: 0;
    position: absolute;
    left: 5%;
    top: 10%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: $secondary-text;
    z-index: 100;
}
.bg-car-top{
    background: linear-gradient(180deg, #171B1C 30.92%, rgba(23, 27, 28, 0) 100%);
    // transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.car-top:hover .text-game {
  opacity: 1;
}
.car-top:hover .middle {
  opacity: 1;
}
.car-top:hover .bg-car-top {
  opacity: 0.5;
}


@media screen and (min-width: 0px) and (max-width: 768px){
  .carousel-card{
    position: relative;
    width: 170px;
    height: 283px;
    .car-top{
        position: absolute;
        top: 0;
        width: 170px;
        height: 103px;
        //background: turquoise;
        z-index: 100;
    }
    .car-bottom{
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        width: 170px;
        height: 229px;
        //background: #0E3C2B;
        .content-bottom{
            //position: absolute;
            padding-top:55px !important;
            margin: auto 10px auto 10px !important;
            //bottom: 0;
            .donut-mobile{
              margin: auto;
              margin-bottom: 12px;
            }
            .text-head{
                margin-bottom: 4px !important;
                font-weight: bold !important;
                font-size: 10px !important;
                line-height: 14px !important;
            }
            .text-cont{
                font-size: 10px !important;
                line-height: 14px !important;
                .icon-algo{
                width: 10px;
                height: 10px;
                padding-bottom: 0;
                margin-top: -3px;
                }
            }
        }
        .cont-bot{
          margin-bottom: 10px !important;
        }
    }
}
.game-img{
    padding-top: 10px;
    width: 165px;
    height: 103px;
}
.play-img{
  width: 44.42px;
  height: 49.7px;
}
.text-game{
    left: 5%;
    top: 10%;
    font-size: 10px !important;
    line-height: 10px !important;
}

}
</style>
