<template>
    <div class="donut" :style="{ '--first': this.rate1, '--second': this.rate2}">
        <div class="donut__slice donut__slice__first"></div>
        <div class="donut__slice donut__slice__second"></div>
        <div class="donut__label">
            <div class="donut__label__heading">
            {{rateDay}}
            </div>
            <div class="donut__label__sub">
            24H Win %
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            rate1: '.'+this.rateDay,
            ratemin: 100-this.rateDay,
            rate2: '.'+ (100-this.rateDay)
        }
    },
    props:{
        rateDay: Number
    },
    computed: {
    // numberCount() {
    //   return
    //     {--first; '.${this.rateDay}'}
    //     // --second: .'+100-this.rateDay+';'

    // },
  },

}
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

*, *::after, *::before {
  box-sizing: border-box;
}

$donut-slices: (
  first: #48C364,
  second: #DE0035,
);

.donut {
  --donut-size: 152px;
  --donut-border-width: 20px;

  --donut-spacing: 0;
  --donut-spacing-color: 255, 255, 255;
  --donut-spacing-deg: calc(1deg * var(--donut-spacing));

  border-radius: 50%;
  height: var(--donut-size);
  position: relative;
  width: var(--donut-size);
}

.donut__label {
  left: 50%;
  line-height: 1.5;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.donut__label__heading {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.donut__label__sub {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.donut__slice {
  height: 100%;
  position: absolute;
  width: 100%;
}

.donut__slice::before,
.donut__slice::after {
  border: var(--donut-border-width) solid rgba(0,0,0,0);
  border-radius: 50%;
  content: '';
  height: 100%;
  left:0;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 100%;
}

.donut__slice::before {
  border-width: calc(var(--donut-border-width) + 1px);
  box-shadow: 0 0 1px 0 #{'rgba(var(--donut-spacing-color), calc(100 * var(--donut-spacing)))'};
}

$slides-concat: '';

@each $slice in $donut-slices {
  $name: nth($slice, 1);
  $color: nth($slice, 2);
  $i: index($donut-slices, $slice);

  @if $i > 1 {
    .donut__slice__#{$name} {
      --#{$name}-start: calc(#{$slides-concat});
      --#{$name}-check: max(calc(var(--#{$name}-start) - .5), 0);
      clip-path: inset(0 calc(50% * (var(--#{$name}-check) / var(--#{$name}-check))) 0 0);
    }
  }
  @else {
    .donut__slice__#{$name} {
      --#{$name}-start: 0;
    }
  }

  .donut__slice__#{$name}::before {
    border-top-color: #{'rgba(var(--donut-spacing-color), calc(100 * var(--donut-spacing)))'};
    transform: rotate(calc(360deg * var(--#{$name}-start) + 45deg));
  }

  .donut__slice__#{$name}::after {
    border-top-color: rgba($color, 1);
    border-right-color: rgba($color, calc(100 * (var(--#{$name}) - .25)));
    border-bottom-color: rgba($color, calc(100 * (var(--#{$name}) - .5)));
    border-left-color: rgba($color, calc(100 * (var(--#{$name}) - .75)));
    transform: rotate(calc(360deg * var(--#{$name}-start) + 45deg + var(--donut-spacing-deg)));
  }

  @if $i == 1 {
    $slides-concat: var(--#{$name});
  }
  @else {
    $slides-concat: $slides-concat + ' + ' + var(--#{$name});
  }
}

@media screen and (min-width: 0px) and (max-width: 768px){
  .donut {
  --donut-size: 79.41px !important;
  --donut-border-width: 10px !important;
}
.donut__label__heading {
    font-size: 20px !important;
    line-height: 19px !important;

}

.donut__label__sub {
    font-size: 8px !important;
    line-height: 9px  !important;
}
}
</style>
