<template>
    <div class="invite-raf">
        <div class="text-head text-left">
            Spread The Word, Earn Money
        </div>
        <div class="sub-text">
          Refer your friends and earn money! You will receive a referral commission for every user that registers through your links and plays. Unlike traditional affilate programs, you will earn commission for all bets placed which means that regardless if they win or lose, you still make the same commission!  
        </div>
        <div class="cont-qr">
            <b-row no-gutters >                
                <b-col cols="6" class="col-copy-1 text-center">
                    <b-row no-gutters style="margin-bottom: 4px">
                      <b-col class="text-left text-prof">
                        Your Affiliate Code
                      </b-col>
                    </b-row>
                    <b-input-group style="height: 36px !important">
                      <b-form-input
                        id="affiliate-code"
                        v-model="affCode"
                        class="dep-input"
                        readonly
                      ></b-form-input>
                      <b-input-group-append>
                        <b-button class="dep-button">
                          <img
                            :src="require('../../img/copy.svg')"
                            alt=""
                            style="height: 20px; width: 20px"                            
                          />
                        </b-button>
                      </b-input-group-append>
                    </b-input-group>                    
                </b-col>
                <b-col cols="6" class="col-copy-2 text-center">
                   <b-row no-gutters style="margin-bottom: 4px">
                      <b-col class="text-left text-prof">
                        Your Invitation Link
                      </b-col>
                    </b-row>
                    <b-input-group style="height: 36px !important">
                      <b-form-input
                        id="invite-link"
                        v-model="inviteLink"
                        class="dep-input"
                        readonly
                      ></b-form-input>
                      <b-input-group-append>
                        <b-button class="dep-button">
                          <img
                            :src="require('../../img/copy.svg')"
                            alt=""
                            style="height: 20px; width: 20px"                            
                          />
                        </b-button>
                      </b-input-group-append>
                    </b-input-group> 
                </b-col>                             
            </b-row>            
        </div>
        <div class="cont-qr">
            <b-row no-gutters >                
                <b-col cols="6" class="col-game text-center">
                    <b-row no-gutters class="game-head">
                        <b-col cols="6" class="text-left">
                            Games
                        </b-col>
                        <b-col cols="6" class="text-right">
                            Commission
                        </b-col>
                    </b-row>
                    <b-row no-gutters v-for="(game, index) in games" :key="index" class="mb-3">
                        <b-col cols="6" class="text-left">
                            {{game.name}}
                        </b-col>
                        <b-col cols="6" class="text-right comm-cont">
                            {{game.commision}}%
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </div>
        <div class="last-text">
          If you are an affiliate under special circumstance or with outstanding reach, contact our affiliate team at hello@huatbet.com. Upon speaking to your affiliate manager, we may be able to negotiate a customized program. This could include higher commission. Please note that only appropriate affiliates will be considered.
        </div>
    </div>
</template>
<script>
export default {
    data() {
    return {
    inviteLink: 'www.huatbet.com/F35289494',
    affCode: 'F35289494',
    games: [
            {name: 'Dice', commision:0.15},
            {name: 'Gor Ki Pi', commision:0.15},
            {name: 'Mines', commision:0.15},
            {name: 'Moonshot', commision:0.15},
            {name: 'Si Ki Pi', commision:0.15},
            ],
    
    };
  },
  methods:{
      
  },
}
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";
.invite-raf{
    font-family: Open Sans;
    font-style: normal;    
    font-size: 12px;
    line-height: 16px;
    .text-head{
    margin-top: 20px;    
    font-weight: bold;    
    color: $primary-text;
    }
    .sub-text{
    margin-top: 20px;    
    font-weight: normal;
    text-align: justify;
    color: $secondary-text;
    }
    .last-text{
    margin-bottom: 50px;    
    font-weight: normal;
    text-align: justify;
    color: $secondary-text;
    }
    .cont-qr{
    margin: 20px auto;    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $secondary-text;    
    .col-copy-1{
        margin-bottom: 20px;
        padding-right: 20px;
    }
    .col-copy-2{
        margin-bottom: 20px;        
        padding-left: 20px;
    }
    .col-game{
        margin-bottom: 0px;
        padding-right: 20px;
    }
    .game-head{
      font-weight: bold;
      margin-bottom: 20px;  
    }
    .comm-cont{
        color: $primary-text;
    }
    
  }  
  .dep-input,
  .dep-input:active,
  .dep-input:focus {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: $secondary-text;
    background-clip: padding-box;
    border: 1px solid $secondary-text !important;
    border-right: none !important;
    height: 40px !important;
    background: $primary-bg;
    box-shadow: none !important;
    outline: transparent !important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  input[readonly],
  input[readonly]:focus {
    background: $primary-bg !important;
    color: $secondary-text !important;
  }
  .dep-button,
  .dep-button:hover,
  .dep-button:focus,
  .dep-button:active {
    position: relative;
    color: $secondary-text;
    background-color: $primary-bg;
    border: 1px solid $secondary-text !important;
    border-left: none !important;
    height: 40px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    box-shadow: none !important;
    outline: transparent !important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
</style>