<template>
  <div class="jumbotron">
    <b-jumbotron class="mx-auto">
      <template #header >Welcome to</template>
      <div class="image-jumbo">
        <img :src="require('../../img/Huatbet-02.svg')" alt="">
      </div>
    </b-jumbotron>
    </div>
</template>
<script>
export default {

}
</script>
<style lang="scss">

</style>
