<template>
  <div>
    <div class="backdrop-a" v-if="modalVal" @click="modHide()"></div>
    <div class="modal-deposit mx-auto" v-if="modalVal">
      <b-row no-gutters v-if="!succesDraw">
        <b-col cols="12" class="text-left moon-head">
          <img
            :src="require('../../img/algo.svg')"
            alt=""
            style="padding-bottom: 4px;height: 14px: weight:14px;"
          />
          {{ headerNames[selectedTab] }}
        </b-col>
        <b-col cols="12" class="deposit-body">
          <b-card
            no-body
            style="background: transparent !important; border: none !important"
          >
            <b-tabs
              @activate-tab="tabChanged"
              pills
              card
              active-nav-item-class="choosen-tab"
              nav-class="tab-aktive"
              active-tab-class="aktive-content"
            >
              <b-tab active>
                <template #title> Deposit </template>
                <div class="deposit-content text-center">
                  <div class="choose-token">
                    <b-dropdown
                      size="sm"
                      toggle-class="text-decoration-none"
                      center
                      no-caret
                    >
                      <template #button-content>
                        <input
                          type="text"
                          class="custom-select"
                          v-model="tokenName"
                          disabled
                        />
                        <img
                          :src="require('../../img/algo.svg')"
                          alt=""
                          style="
                            position: absolute;
                            left: 17%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                          "
                        />
                      </template>
                      <b-dropdown-item
                        v-for="(token, index) in tokenList"
                        :key="index"
                        selected
                        @click="changeDepositToken(index)"
                      >
                        <div
                          style="
                            margin-left: 8px;
                            padding-bottom: 3px;
                            display: inline;
                          "
                        >
                          <img
                            :src="require('../../img/algo.svg')"
                            alt=""
                            style="padding-bottom: 3px;height: 14px: weight:14px;"
                          />
                        </div>
                        <span style="margin-left: 6px">{{ token.name }}</span>
                      </b-dropdown-item>
                    </b-dropdown>
                  </div>
                  <div class="cont-input mt-3">
                    <b-row no-gutters style="margin-bottom: 4px">
                      <b-col class="text-left text-prof">
                        Your {{ tokenName }} Deposit Address
                      </b-col>
                    </b-row>
                    <b-input-group style="height: 36px !important">
                      <b-form-input
                        id="deposit-address"
                        v-model="depValue"
                        class="dep-input"
                        readonly
                      ></b-form-input>
                      <b-input-group-append>
                        <b-button class="dep-button">
                          <img
                            :src="require('../../img/copy.svg')"
                            alt=""
                            style="height: 20px; width: 20px"
                            @click="copy"
                          />
                        </b-button>
                      </b-input-group-append>
                    </b-input-group>
                  </div>
                </div>
              </b-tab>
              <b-tab>
                <template #title> Withdraw </template>
                <div class="withdraw-content text-center">
                  <div class="choose-token">
                    <b-dropdown
                      size="sm"
                      toggle-class="text-decoration-none"
                      center
                      no-caret
                    >
                      <template #button-content>
                        <input
                          type="text"
                          class="custom-select"
                          v-model="tokenName"
                          disabled
                        />
                        <img
                          :src="require('../../img/algo.svg')"
                          alt=""
                          style="
                            position: absolute;
                            left: 17%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                          "
                        />
                      </template>
                      <b-dropdown-item
                        v-for="(token, index) in tokenList"
                        :key="index"
                        selected
                        @click="changeDepositToken(index)"
                      >
                        <div
                          style="
                            margin-left: 8px;
                            padding-bottom: 3px;
                            display: inline;
                          "
                        >
                          <img
                            :src="require('../../img/algo.svg')"
                            alt=""
                            style="padding-bottom: 3px;height: 14px: weight:14px;"
                          />
                        </div>
                        <span style="margin-left: 6px">{{ token.name }}</span>
                      </b-dropdown-item>
                    </b-dropdown>
                  </div>
                  <div class="cont-input mt-3">
                    <b-row no-gutters style="margin-bottom: 4px">
                      <b-col class="text-left text-prof">
                        Your {{ tokenName }} Deposit Address
                      </b-col>
                    </b-row>
                    <b-input-group style="height: 36px !important">
                      <b-form-input
                        v-model="withdrawAddress"
                        class="dep-input"
                      ></b-form-input>
                      <b-input-group-append>
                        <b-button class="dep-button">
                          <img
                            :src="require('../../img/copy.svg')"
                            alt=""
                            style="height: 20px; width: 20px"
                          />
                        </b-button>
                      </b-input-group-append>
                    </b-input-group>
                  </div>
                  <div class="cont-input">
                    <b-row no-gutters style="margin-bottom: 4px">
                      <b-col class="text-left text-prof">
                        Amount (Min.
                        {{ this.$store.state.wallet.minimal_withdraw }})
                      </b-col>
                    </b-row>
                    <b-input-group style="height: 36px !important">
                      <b-form-input
                        v-model="withdrawAmount"
                        class="am-input"
                      ></b-form-input>
                      <b-input-group-append>
                        <b-button class="max-btn" @click="maxAmount">
                          MAX
                        </b-button>
                      </b-input-group-append>
                    </b-input-group>
                  </div>
                  <b-col style="padding-bottom: 10px" v-if="isError" cols="12">
                    <div class="text-error">
                      {{ errorMessage }}
                    </div>
                  </b-col>
                  <button
                    type="submit"
                    class="btn btn-create"
                    @click="withdraw()"
                    :disabled="withdrawalLoading"
                  >
                    WITHDRAW
                  </button>
                  <div
                    v-if="$store.state.wallet.withdrawalFees != null"
                    class="fees-text"
                  >
                    There will be a fee of
                    {{ $store.state.wallet.withdrawalFees }} {{ tokenName }} for
                    external transactions.
                  </div>
                </div>
              </b-tab>
            </b-tabs>
          </b-card>
        </b-col>
      </b-row>
      <b-row no-gutters v-else class="succes-deposit">
        <b-col cols="12" class="text-right">
          <div class="x-head" @click="modHide()">
            <button type="button" class="x-but">
              <b-icon icon="x" font-scale="1.5"> </b-icon>
            </button>
          </div>
        </b-col>
        <b-col cols="12" class="text-center">
          <div class="text-succ">TRANSACTION SUCCESSFUL!</div>
        </b-col>
        <b-col cols="12" class="text-center">
          <img :src="require('../../img/succes-info.svg')" alt="" />
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      succesDraw: false,
      modalVal: false,
      depValue: "",
      amValue: "",
      tokenName: "Algo",
      userWallets: [],
      selectedToken: 0,
      withdrawAddress: "",
      withdrawAmount: 0,
      withdrawalLoading: false,
      isError: false,
      errorMessage: "",
      headerNames: ["Deposit", "Withdraw"],
      selectedTab: 0,
      tokenList: [
        // {
        //   name: "algo",
        //   icon: "",
        //   address: "",
        // },
        // {
        //   name: "BTC",
        //   icon: "",
        //   address: "",
        // },
        // {
        //   name: "ETH",
        //   icon: "",
        //   address: "",
        // },
        // {
        //   name: "usdt",
        //   icon: "",
        //   address: "",
        // },
      ],
    };
  },
  async created() {
    // Get User Balances
    this.$store.dispatch("wallet/GET_BALANCES");

    // Get user wallets
    this.$store.dispatch("wallet/GET_DEPOSIT_ADDRESS");

    // Get Minimal Withdraw
    this.$store.dispatch("wallet/GET_MINIMUM_WITHDRAW", this.tokenName);
  },
  methods: {
    changeModal() {
      this.modalVal = true;
    },
    /**
     * When tab changed
     * from deposit to withdrawal, vice versa
     */
    tabChanged(value) {
      this.selectedTab = value;

      // When user click withdrawal, get withdrawal fees
      if (value == 1)
        this.$store.dispatch("wallet/GET_WITHDRAWAL_FEES", this.tokenName);
    },
    /**
     * Copy the deposit address
     */
    copy() {
      let testing = document.querySelector("#deposit-address");
      testing.setAttribute("type", "text");
      testing.select();
      document.execCommand("copy");
    },
    modHide() {
      this.modalVal = false;
      this.succesDraw = false;
    },
    /**
     * Do the withdrawal
     */
    async withdraw() {
      this.withdrawalLoading = true;

      // Dispatch the withdrawal
      let result = await this.$store.dispatch("wallet/WITHDRAW", {
        address: this.withdrawAddress,
        amount: this.withdrawAmount,
        currency: this.tokenName.toUpperCase(),
      });

      this.withdrawalLoading = false;

      // Get the error (if exists)
      this.isError = this.$store.state.wallet.isError;
      this.errorMessage = this.$store.state.wallet.errorMessage;

      // If transaction success
      if (!this.isError) {
        this.succesDraw = true;
      }
    },
    /**
     * Fetch the amount that the user has
     * for the specified token,
     * Then fill it in amount input
     */
    maxAmount() {
      let balance = this.$store.getters["wallet/balance"](this.tokenName);
      this.withdrawAmount = balance.balance;
    },
    /**
     * When user change the token
     */
    changeDepositToken(index) {
      this.selectedToken = index;

      // Set Address
      this.depValue = this.tokenList[index].address;

      // Set Token Name
      this.tokenName = this.tokenList[index].name;

      // Get Minimal Withdraw
      this.$store.dispatch("wallet/GET_MINIMUM_WITHDRAW", this.tokenName);

      // Get Withdrawal Fees
      this.$store.dispatch("wallet/GET_WITHDRAWAL_FEES", this.tokenName);
    },
  },
  watch: {
    /**
     * When User Wallet fetched
     * parse it to the token list table
     */
    userWallet: function (value) {
      this.userWallets = value;

      for (const property in this.userWallets) {
        this.tokenList.push({
          name: property,
          icon: "",
          address: this.userWallets[property],
        });
      }

      this.depValue = this.tokenList[this.selectedToken].address;
    },
  },
  computed: {
    ...mapGetters({
      userWallet: "wallet/wallet",
    }),
  },
};
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

.backdrop-a {
  background: black !important;
  opacity: 0.5;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}
.modal-deposit {
  height: 525px;
  width: 600px;
  border-radius: 1px;
  background: $secondary-bg;
  padding: 20px 16px 0 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  .text-error {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #fa4343;
  }
  .moon-head {
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $primary-text;
    border-bottom: 1px solid #b6b6b6;
    padding-bottom: 17px;
    margin-bottom: 18px;
  }
  .deposit-body {
    margin: auto;
    .deposit-content {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 22px;
      color: #a7b0c6;
      margin-top: 15px;
    }
    .withdraw-content {
      font-family: Open Sans;
      margin-top: 15px;

      .fees-text {
        margin-top: 20px;
        color: #a2a2a2;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 11px;
        /* identical to box height */
        text-align: center;
      }
    }
    .aktive-content {
      padding: 0 0 !important;
    }
    .choosen-tab {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      align-items: center;
      text-transform: uppercase;
      border-radius: 0 !important ;
      border-bottom: 4px solid $primary-text !important;
      margin-bottom: -2px;
    }
    .tab-aktive {
      font-family: Open Sans;
      font-style: normal;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      align-items: center;
      color: #777777 !important;
      padding-top: 8px !important;
    }
    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
      background-color: transparent !important;
      color: #777777 !important;
    }
    .nav-item {
      border-bottom: 2px solid #2d3e4a;
    }
    .nav-link {
      padding: 0 10px 8px !important;
      color: #777777;
      min-width: 112px;
    }

    .col {
      padding-right: 0;
      padding-left: 0;
    }
    .card-header {
      padding: 0 10px !important ;
      border-bottom: none !important;
      background: transparent !important;
    }

    .nav-fill .nav-item:first-child {
      text-align: left !important;
    }
    .nav-fill .nav-item:last-child {
      text-align: right !important;
    }
  }

  .cont-input {
    margin: auto;
    margin-bottom: 20px;
  }

  .text-prof {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: capitalize;
    line-height: 16px;
    color: $secondary-text;
  }
  .dep-input,
  .dep-input:active,
  .dep-input:focus {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: $text-grey;
    background-clip: padding-box;
    border: 1px solid $secondary-text !important;
    border-right: none !important;
    height: 36px !important;
    background: $secondary-bg;
    box-shadow: none !important;
    outline: transparent !important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  input[readonly],
  input[readonly]:focus {
    background: $secondary-bg !important;
    color: $text-grey !important;
  }
  .dep-button,
  .dep-button:hover,
  .dep-button:focus,
  .dep-button:active {
    position: relative;
    color: $secondary-text;
    background-color: $secondary-bg;
    border: 1px solid $secondary-text !important;
    border-left: none !important;
    height: 36px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    box-shadow: none !important;
    outline: transparent !important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .am-input,
  .am-input:active,
  .am-input:focus {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: $text-grey;
    background-color: $secondary-bg;
    box-shadow: none !important;
    border: 1px solid $secondary-text;
    height: 32px !important;
  }
  .max-btn,
  .max-btn:hover,
  .max-btn:focus,
  .max-btn:active {
    position: relative;
    color: $secondary-bg;
    background-color: $primary-text;
    border: 1px solid $secondary-text;
    border-left: none !important;
    height: 32px;
    width: 74px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    box-shadow: none !important;
    outline: transparent !important;
  }
  .btn-create {
    width: 100% !important;
    height: 46px;
    border-radius: 4px;
    background: $primary-text;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1d2b36;
    padding: 0 !important;
  }
  .succes-deposit {
    .x-head {
      .x-but,
      .x-but:focus,
      .x-but:active {
        text-decoration: none !important;
        background: transparent;
        color: white !important;
        border: none !important;
        outline: none !important;
      }
    }
    .text-succ {
      margin: 50px 0 60px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: $primary-text;
    }
  }
}
.choose-token {
  .custom-select {
    background-color: $footer-side-bg !important;
    background-image: url("../../img/chevron\ down.svg");
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 8px 12px;
    //background: #13202C url("../assets/chevron down.svg" ) right 0.75rem center/8px 12px no-repeat;
    border: transparent !important;
    vertical-align: middle;
    color: #ffffff !important;
    padding: 4px 25px 4px 25px !important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    height: 40px !important;
    width: 90px;
  }

  .btn-secondary,
  .btn-secondary:hover,
  .show > .btn-secondary.dropdown-toggle,
  .btn-secondary:focus {
    color: $primary-text;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
  }
  .nav-link {
    display: block;
    padding: 0 20px 0 0 !important;
  }
  .btn-sm,
  .btn-group-sm > .btn {
    //padding: 5px 0 4px 0 !important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0.2rem;
    padding: 0 !important;
  }
  .dropdown-toggle::after {
    font-size: 14px !important;
  }
  .dropdown-menu {
    color: $secondary-text !important;
    background-color: $secondary-bg !important;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    min-width: 90px;
  }
  .dropdown-item {
    color: $secondary-text !important;
    padding: 4px 5px !important;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    span {
      text-transform: uppercase;
    }
  }
  .dropdown-item:hover,
  .dropdown-item:active,
  .dropdown-item:focus {
    background: $secondary-bg !important;
  }
}
</style>