<template>
    <div class="footer-nav">
         <b-navbar class="navbar mx-auto hide-nav">
           <b-navbar-nav >
                <b-nav-item class="nav-item-foot">
                <router-link to="/">
                    <b-nav-text class="footer-brand">
                    © Huatbet 2020
                    </b-nav-text>
                </router-link>
                </b-nav-item>
                <b-nav-item class="nav-item-foot">
                <router-link to="/howto">
                    <b-nav-text class="footer-menu">
                    How To Play
                    </b-nav-text>
                </router-link>
                </b-nav-item>
                <b-nav-item class="nav-item-foot">
                <router-link to="/faq">
                    <b-nav-text class="footer-menu">
                    FAQ
                    </b-nav-text>
                </router-link>
                </b-nav-item>
                <b-nav-item class="nav-item-foot">
                <router-link to="/provablyfair">
                    <b-nav-text class="footer-menu">
                    Provably Fair
                    </b-nav-text>
                </router-link>
                </b-nav-item>
                <b-nav-item class="nav-item-foot">
                <router-link to="/support">
                    <b-nav-text class="footer-menu">
                    Support
                    </b-nav-text>
                </router-link>
                </b-nav-item>
           </b-navbar-nav>
            <b-navbar-nav class="ml-auto">
                <b-nav-item class="nav-item-foot">
                    <b-nav-text class="footer-brand">
                    hello@huatbet.com
                    </b-nav-text>
                </b-nav-item>
                <b-nav-item class="nav-item-foot">
                    <img :src="require('../../img/telegram.svg')" alt="" class="footer-icon">
                </b-nav-item>
                <b-nav-item class="nav-item-foot">
                    <img :src="require('../../img/twitter.svg')" alt="" class="footer-icon">
                </b-nav-item>
            </b-navbar-nav>
        </b-navbar>
      </div>
</template>
<script>
export default {
    data () {
    return {

    }
  },
}

</script>
<style lang="scss">
.footer-desk{
    a, a:hover{
        text-decoration: none !important;
    }
}

</style>
