<template>
  <div class="header-nav">
    <b-navbar class="navbar navbar-container-first mx-auto">
      <b-navbar-brand class="brand-one d-inline-block">
        <router-link to="/">
          <div class="img-brand"></div>
        </router-link>
      </b-navbar-brand>
      <b-nav-form class="select-top" v-if="$store.state.isAuth">
        <div class="input-group input-group-sm mb-3">
          <b-dropdown
            size="sm"
            toggle-class="text-decoration-none"
            center
            no-caret
          >
            <template #button-content>
              <input
                type="text"
                class="custom-select"
                style="width: 130px"
                v-model="getTokenbalance"
                maxlength="18"
                disabled
              />
              <img
                :src="require('../../img/algo.svg')"
                alt=""
                style="
                  position: absolute;
                  right: 11%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                "
              />
            </template>
            <b-dropdown-item
              v-for="(token, index) in tokenList"
              :key="index"
              @click="clickToken(index)"
            >
              {{ isViewedInUsd ? "$ " : "" }} {{ token.value }}
              <div
                style="margin-left: 8px; padding-bottom: 3px; display: inline"
              >
                <img
                  :src="require('../../img/algo.svg')"
                  alt=""
                  style="padding-bottom: 3px;height: 14px: weight:14px;"
                />
              </div>
              <span style="margin-left: 6px">{{ token.name }}</span>
            </b-dropdown-item>
            <b-row
              no-gutters
              class="text-center"
              style="margin-top: 15px; padding: 0 20px"
            >
              <b-col cols="8" class="my-auto"> View in USD </b-col>
              <b-col style="position: relative">
                <b-form-checkbox
                  v-model="isViewedInUsd"
                  name="check-button"
                  switch
                />
              </b-col>
            </b-row>
          </b-dropdown>
          <div class="input-group-append">
            <button
              class="btn btn-top-center"
              @click="openDeposit()"
              type="button"
              style="padding: 0 8px; margin: auto"
            >
              <img :src="require('../../img/pocket.svg')" alt="" />
            </button>
          </div>
        </div>
      </b-nav-form>
      <b-navbar-nav class="ml-auto d-inline-block align-top">
        <b-navbar-nav class="nav-head-right">
          <template v-if="$store.state.isAuth">
            <b-nav-item href="#" class="nav-item-1">
              <img :src="require('../../img/bell.svg')" alt="" />
            </b-nav-item>
            <b-nav-item class="nav-item-2">
              <b-dropdown size="sm" toggle-class="text-decoration-none" right>
                <template #button-content>
                  <svg
                    width="19"
                    height="19"
                    viewBox="0 0 19 19"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M17.4652 11.8444C16.8676 11.3205 16.1469 10.867 15.3137 10.4979C14.9586 10.3397 14.5437 10.5014 14.3855 10.8565C14.2273 11.2115 14.3891 11.6264 14.7441 11.7846C15.4438 12.0975 16.0484 12.4701 16.5371 12.9026C17.1418 13.4334 17.4863 14.1998 17.4863 15.0084V16.3092C17.4863 16.6959 17.1699 17.0123 16.7832 17.0123H3.00195C2.61523 17.0123 2.29883 16.6959 2.29883 16.3092V15.0084C2.29883 14.1998 2.64336 13.4299 3.24805 12.9026C3.9582 12.2768 6.02891 10.8248 9.89258 10.8248C12.7613 10.8248 15.0957 8.49045 15.0957 5.6217C15.0957 2.75295 12.7613 0.418579 9.89258 0.418579C7.02383 0.418579 4.68945 2.75295 4.68945 5.6217C4.68945 7.29866 5.4875 8.7928 6.725 9.74553C4.46094 10.2412 3.05469 11.1975 2.31992 11.8444C1.41289 12.6424 0.892578 13.7955 0.892578 15.0084V16.3092C0.892578 17.4729 1.83828 18.4186 3.00195 18.4186H16.7832C17.9469 18.4186 18.8926 17.4729 18.8926 16.3092V15.0084C18.8926 13.7955 18.3723 12.6424 17.4652 11.8444ZM6.0957 5.6217C6.0957 3.52639 7.79727 1.82483 9.89258 1.82483C11.9879 1.82483 13.6895 3.52639 13.6895 5.6217C13.6895 7.71702 11.9879 9.41858 9.89258 9.41858C7.79727 9.41858 6.0957 7.71702 6.0957 5.6217Z"
                    />
                  </svg>
                </template>
                <b-dropdown-item @click="transaction"
                  >Transactions</b-dropdown-item
                >
                <b-dropdown-item >VIP</b-dropdown-item>
                <b-dropdown-item @click="referFriend">Refer-A-Friend</b-dropdown-item>
                <b-dropdown-item @click="settings">Settings</b-dropdown-item>
                <b-dropdown-item >FAQ</b-dropdown-item>
                <b-dropdown-item >Support</b-dropdown-item>
                <b-dropdown-item @click="logout()"
                  >Logout</b-dropdown-item
                >
              </b-dropdown>
            </b-nav-item>
          </template>
          <template v-else>
            <b-nav-item class="nav-item-login" to="/login">
              <div class="btn-login my-auto">login</div>
            </b-nav-item>
            <b-nav-item class="nav-item-regis" to="/register">
              <button type="button" class="btn btn-register">Register</button>
            </b-nav-item>
          </template>

          <b-nav-item class="nav-item-lang">
            <b-dropdown size="sm" text="EN" right>
              <b-dropdown-item-button>SG</b-dropdown-item-button>
              <b-dropdown-item-button>IN</b-dropdown-item-button>
              <b-dropdown-item-button>RS</b-dropdown-item-button>
            </b-dropdown>
          </b-nav-item>
          <b-nav-item class="nav-item-burger" v-if="!$store.state.isAuth">
            <img :src="require('../../img/burger-menu.svg')" alt="" />
          </b-nav-item>
        </b-navbar-nav>
      </b-navbar-nav>
    </b-navbar>
    <modal-deposit v-if="$store.state.isAuth" ref="showdep"></modal-deposit>
  </div>
</template>
<script>
import modalDeposit from "./modalPocket.vue";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      isViewedInUsd: false,
      tokenValue: "0.00000000",
      selectedToken: 0,
      tokenList: [
        // {
        //   value: "0.00000000",
        //   name: "algo",
        //   icon: "",
        // },
        // {
        //   value: "0.00000000",
        //   name: "BTC",
        //   icon: "",
        // },
        // {
        //   value: "0.00000000",
        //   name: "ETH",
        //   icon: "",
        // },
        // {
        //   value: "0.00000000",
        //   name: "usdt",
        //   icon: "",
        // },
      ],
    };
  },
  created() {
    /**
     * If Auth
     */
    if (this.$store.state.isAuth) {
      // Interval every 1 minute, to get user balance
      window.setInterval(() => {
        this.$store.dispatch("wallet/GET_BALANCES");
      }, 60000);

      // Get Websocket token
      this.$store.dispatch("WEBSOCKET");
    }
  },
  watch: {
    balances: function () {
      this.tokenList = this.parseBalances();
    },
    isViewedInUsd: function (value) {
      this.tokenList = this.parseBalances();
    },
    websocketToken: function (value) {
      if (value == null || value == undefined) return;

      window.swoole = new WebSocket(
        "wss://socket.algofair.io/ws?access_token=" +
          value +
          "&session_id=" +
          this.$store.state.websocket_session
      );

      window.swoole.onopen = function (event) {
        window.interval = setInterval(function () {
          window.swoole.send("PING");
        }, 20000);
      };

      window.swoole.onclose = function (event) {
        clearInterval(window.interval);
      };

      var _this = this;
      window.swoole.onmessage = function (event) {
        try {
          if (event.data != "PONG") {
            var obj = JSON.parse(event.data);
            if (obj.action != undefined && obj.action == "updateBalances") {
              console.log("WEBOCKSET UDPAT EBALANCE");
              _this.$store.dispatch("wallet/GET_BALANCES");
            }
          }
        } catch (e) {
          console.log(e);
        }
      };
    },
    isAuth: function (value) {
      if (value) {
        window.setInterval(() => {
          this.$store.dispatch("wallet/GET_BALANCES");
        }, 60000);

        // Get Websocket token
        this.$store.dispatch("WEBSOCKET");
      }
    },
  },
  components: {
    modalDeposit,
  },
  methods: {
    /**
     * Get User Balances
     * and parse to the table
     */
    parseBalances() {
      let tokenList = [];
      this.balances.forEach((balance) => {
        tokenList.push({
          value: this.isViewedInUsd
            ? parseFloat(balance.converted).toFixed(8)
            : parseFloat(balance.balance).toFixed(8),
          name: balance.token,
          icon: "",
        });
      });
      return tokenList;
    },
    /**
     * When user change/click the token
     */
    clickToken(index) {
      this.selectedToken = index;
    },
    /**
     * Dispatch Logout Action
     * inside auth module
     */
    logout() {
      this.$store.dispatch("auth/LOGOUT", {
        redirectTo: "/",
      });
    },
    transaction() {
      this.$router.push({ name: `Transactions` });
    },
    referFriend() {
      this.$router.push({ name: `ReferFriend` });
    },
    settings() {
      this.$router.push({ name: `Settings` });
    },
    openDeposit() {
      this.$refs.showdep.changeModal();
    },
  },
  computed: {
    /**
     * Get Token Balance selected by user
     */
    getTokenbalance: function () {
      if (this.tokenList.length != 0) {
        return parseFloat(this.tokenList[this.selectedToken].value).toFixed(8);
      }
      return "0.00000000";
    },
    ...mapGetters({
      balances: "wallet/balances",
      websocketToken: "websocket_token",
      isAuth: "isAuth",
    }),
  },
};
</script>

<style lang="scss">
@import "./resources/sass/variables.scss";

.btn-register {
  width: 86px !important;
  border-radius: 2px;
  background-color: $primary-text !important;
  font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 16px !important;
  text-align: center !important;
  text-transform: capitalize !important;
  color: $secondary-bg;
}
.btn-login {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  color: $primary-text;
}

.custom-switch {
  padding: 1px 0px 0 38px !important;
}
// .custom-control-label::before {
//     background-color: $secondary-bg !important;
//     border:  $primary-text 1px !important;
// }
.custom-control-input:checked ~ .custom-control-label::before {
  border: $primary-text solid 1px !important;
  background-color: $secondary-bg !important;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: $primary-text !important;
}
.custom-switch:active,
.custom-switch:focus,
.custom-control-input:active,
.custom-control-input:focus,
.custom-control-label:focus,
.custom-control-label:active,
.custom-control-label:focus,
.custom-control-label:active .input-group-sm:active,
.input-group-sm:focus {
  box-shadow: none !important;
  text-decoration: none !important;
  outline: none !important;
}
</style>
