<template>
    <div class="user-profile">
        <div class="form-user-profile">
                <b-row no-gutters class="cont-form">
                    <b-col class="title-input text-left my-auto">
                        <div>
                        Current Password
                        </div>
                    </b-col>
                    <b-col>
                    <b-form-input
                    type="password"                     
                    v-model="passNow"
                    class="setting-input"
                    >                      
                    </b-form-input>
                    </b-col>
                </b-row>
                <b-row no-gutters class="cont-form">
                    <b-col class="title-input text-left my-auto">
                        <div>
                        New Password
                        </div>
                    </b-col>
                    <b-col>
                    <b-form-input
                    type="password"                      
                    v-model="passNew"
                    class="setting-input">                        
                    </b-form-input>
                    </b-col>
                </b-row>
                <b-row no-gutters class="cont-form">
                    <b-col class="title-input text-left my-auto">
                        <div>
                        Confirm New Password
                        </div>
                    </b-col>
                    <b-col>
                    <b-form-input
                    type="password"                      
                    v-model="passConfirm"
                    class="setting-input">                        
                    </b-form-input>
                    </b-col>
                </b-row>
                <b-row no-gutters class="cont-form">
                    <b-col class="title-input text-left my-auto">                            
                    </b-col>
                    <b-col>
                        <button
                        type="submit"
                        class="btn btn-create"                            
                        >
                        SAVE
                        </button>
                    </b-col>
                </b-row>
            </div>
    </div>
</template>
<script>
export default {
    data() {
    return {
      passNew: 'test',
      passNow: 'test',
      passConfirm: 'test'
    };
  },
}
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

</style>