<template>
    <div class="invite-raf">
        <div class="cont-qr">
          <chart-stats :labelChart="chartLabels" :dataChart="chartData"></chart-stats>
        </div>
        <div class="cont-qr">
          <b-row no-gutters >
            <b-col md="4" sm="4" cols="12" >
              <b-row no-gutters class="col-left">
                <b-col class="title-sub text-left">
                  active Friends (This Year)
                </b-col>
                <b-col class="field-sub text-right">
                  9,999
                </b-col>
              </b-row>
            </b-col>
            <b-col md="4" sm="4" cols="12" >
              <b-row no-gutters class="col-center">
                <b-col class="title-sub text-left">
                  Turnover (this year)
                </b-col>
                <b-col class="field-sub text-right">
                  USD 1,000,000.00
                </b-col>
              </b-row>
            </b-col>
            <b-col md="4" sm="4" cols="12" >
              <b-row no-gutters class="col-right">
                <b-col class="title-sub text-left">
                  Referral Commission (this year)
                </b-col>
                <b-col class="field-sub text-right">
                  USD 1,000,000.00
                </b-col>
              </b-row>
            </b-col>
            <b-col md="4" sm="4" cols="12">
              <b-row no-gutters class="col-left">
                <b-col class="title-sub text-left">
                  active Friends (Current Month)
                </b-col>
                <b-col class="field-sub text-right">
                  9,999
                </b-col>
              </b-row>
            </b-col>
            <b-col md="4" sm="4" cols="12" >
              <b-row no-gutters class="col-center">
                <b-col class="title-sub text-left">
                  Turnover (Current Month)
                </b-col>
                <b-col class="field-sub text-right">
                  USD 1,000,000.00
                </b-col>
              </b-row>
            </b-col>
            <b-col md="4" sm="4" cols="12" >
              <b-row no-gutters class="col-right">
                <b-col class="title-sub text-left">
                  status
                </b-col>
                <b-col class="field-sub text-right">
                  Referrer
                </b-col>
              </b-row>
            </b-col>                       
          </b-row>
        </div>        
    </div>
</template>
<script>
import chartStats from '../components/chartStats.js'
export default {
    data() {
    return {
      chartData: [40, 39, 10, 40, 39, 80],
      chartLabels: ['January', 'February', 'March', 'April', 'May', 'June']
    };
  },
  components:{
    chartStats
  },
  methods:{
      
  },
}
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";
.invite-raf{
    font-family: Open Sans;
    font-style: normal;    
    font-size: 12px;
    line-height: 16px;    
    .cont-qr{
    margin: 20px auto;    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $secondary-text;
    .title-sub{
      color: $text-grey-dark;
      font-weight: bold;
      text-transform: capitalize;
    }
    .field-sub{
      font-weight: bold;      
    }
    .col-left{
      width: 265px;
      float: left;
      margin-bottom: 20px;
    }
    .col-center{
      width: 265px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .col-right{
      // padding-right:50px;
      width: 265px;
      float: right;
      margin-bottom: 20px;
    }    
    
  }
  
}
</style>