<template>
  <div class="table-home">
    <b-row no-gutters>
    <b-col class="text-left">
        <div class="text-table">
            Activity
        </div>
    </b-col>
    <b-col class="text-right limit-table">
        <select @change="$refs.tabledesk.setLimit($event.target.value)" class="select-table">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
        </select>
    </b-col>

    </b-row>
    <v-client-table
        ref="tabledesk"
        :data="tableData"
        class="vue-tables-custom-style vuetable-desk"
        :columns="columns"
        :options="options"
        >
    <template slot="bet" slot-scope="props">
        {{ props.row.bet}}
        <img :src="require('../../img/tokenAlgo.svg')" alt="" style="margin-left: 3px; padding-bottom: 3px;">
    </template>
    <template slot="wl" slot-scope="props">
        <div :class="{'val-bet': props.row.wl >= 0}">
        {{ props.row.wl}}
        <img :src="require('../../img/tokenAlgo.svg')" alt="" style="margin-left: 3px; padding-bottom: 3px;">
        </div>
    </template>
    </v-client-table>
    <v-client-table
        ref="table"
        :data="tableData"
        class="vue-tables-custom-style vuetable-mob"
        :columns="columnsMob"
        :options="optionsMob"
        >
    <template slot="wl" slot-scope="props">
        <div :class="{'val-bet': props.row.wl >= 0}">
        {{ props.row.wl}}
        <img :src="require('../../img/tokenAlgo.svg')" alt="" style="margin-left: 3px; padding-bottom: 3px;">
        </div>
    </template>
    </v-client-table>
  </div>
</template>

<script>
export default {
  name: 'Table',
  data: () => ({
      columns: ['game', 'user','time' ,'bet', 'multiplier', 'wl'],
      columnsMob: ['game', 'user', 'wl'],
      options: {
            headings: {
                        game: 'Game',
                        user: 'User',
                        time: 'Time',
                        bet: 'Bet',
                        multiplier: 'Multiplier',
                        wl: 'Win/Loss'
                      },
            sortable: [],
            filterable: false,
            perPage: 10,
            pagination: { show: false ,chunk: 4, dropdown: false, nav: 'fixed'},
            sortIcon: {
                 base:'fa', is:'fa-sort', up:'fa-sort-asc', down:'fa-sort-desc'
              },

            showChildRowToggler: true,
            childRowTogglerFirst: true,

        },
        optionsMob: {
            headings: {
                        game: 'Game',
                        user: 'User',
                        wl: 'Win/Loss'
                      },
            sortable: [],
            filterable: false,
            perPage: 10,
            pagination: { show: false ,chunk: 4, dropdown: false, nav: 'fixed'},
            sortIcon: {
                 base:'fa', is:'fa-sort', up:'fa-sort-asc', down:'fa-sort-desc'
              },

            showChildRowToggler: true,
            childRowTogglerFirst: true,

        },
    tableData: [{
        game: 'Si Ki Pi',
        user: 'abcd1234',
        time: '11:38:00',
        bet: 0.32000000,
        multiplier: '0.00x',
        wl: -0.32000000
    },]

  }),
  mounted(){
    while(this.tableData.length < 30) {
            this.tableData.push({
                game: 'Si Ki Pi',
                user: 'abcd1234',
                time: '11:38:00',
                bet: 0.32000000,
                multiplier: '0.00x',
                wl: 0.32000000
            });
        }
},
  components: {
    //HelloWorld
  }
}
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";

.table-home{
    // .form-control, .form-control:active {
    // display: block;
    // width: 100%;
    // height: calc(1.5em + 0.75rem + 2px);
    // padding: 0.375rem 0.75rem;
    // font-family: Open Sans;
    // font-style: normal;
    // font-weight: bold;
    // font-size: 12px;
    // line-height: 16px;
    // color: #495057;
    // background-color: $primary-bg;;
    // background-clip: padding-box;
    // border: 1px solid $tertiary-text;
    // border-radius: 4px;
    // transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    // }
    .text-table{
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: $primary-text;
    }
    .select-table {
        background-color: $primary-bg;
        background-image: url("/images/chevron\ down.svg" );
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 8px 12px;
        //background: #13202C url("../../img/chevron down.svg" ) right 0.75rem center/8px 12px no-repeat;
        border: 1px solid $tertiary-text !important;
        border-radius: 4px;
        vertical-align: middle;
        color: $secondary-text;
        padding: 4px 25px 4px 8px !important;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        height: 30px !important;
        -webkit-appearance: none;
      }
    .select-table:focus, .select-table:active {
    //border: transparent !important;
    //text-decoration: none !important;
    outline: none !important;
    }
  .vuetable-mob{
    display: none;
  }
  .vue-tables-custom-style {
    padding: 0;
    th {
      border: none !important;
      background: $primary-bg !important;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      text-transform: capitalize;
      color: $secondary-text;
      padding: 10px 0 !important;
      width: 16.6666666667%;
      height: 40px !important;
      //text-align: center;
    }
    th:first-child{
        text-align: left;
     }
    th:last-child{
        text-align: right;
     }
    td {
      border: none!important;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: $secondary-text;
      text-transform: capitalize;
      padding: 10px 0px !important;
      text-align: center;
      height: 40px !important;
    }
    td:first-child{
        text-align: left;
     }
    td:last-child{
        text-align: right;
     }
    tr:nth-child(odd) {
      background: $primary-bg !important;
      color: $secondary-text;
    }
    tr:nth-child(even) {
      background: $primary-bg !important;
      color: $secondary-text;
    }
    .form-inline label {
        display: none !important;
    }
  }
.VuePagination__count{
padding: 0;
padding-top:7px;
margin:0;
vertical-align: middle;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #42505C !important;
}
.VuePagination{
border-top: 1px solid #B6B6B6;
padding: 10px 0 0 0;
margin:0;
}
.pagination  {
background: transparent !important;
color: $secondary-text !important;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
position: absolute;
right: -5px;
}
.page-item {
background:transparent !important;;
color:$secondary-text !important;
padding:0;

}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $secondary-text;
    background-color: transparent !important;
    border: transparent !important;
    cursor: pointer;


}
.page-item.active .page-link {
    z-index: 3;
    border-radius: 3px;
    color: $secondary-text !important;
    background-color: $primary-bg !important;
    border-color: transparent !important;
    padding:4px 8px;
    align-items: center;
    margin-top: 4px;
}

.page-item.disabled .page-link{
background: transparent !important;
color:$secondary-text!important;
border-color: transparent !important;
}

.pull-right {
    float: none;
}
.fa.pull-right {
    margin-left: .6em;
}
.VueTables__limit{
   display: none !important;
 }
.val-bet {
color: #52FF00 !important;
}
}

</style>
