<template>
<div>
    <div class="tfa-setting" v-if="!activeTele">
        <div class="text-head">
            You can link your Telegram account to your HuatBet account to receive notifications. Please note if you do not link your telegram account to receive notifications, you will not be able to reset your password. <br/><br/>
            Linking a Telegram account allows you to receive notifications about deposits to a wallet, trade and margin transactions, and other updates. The notification settings is below.<br/><br/>
            In order to link your Telegram account, open the link {{linkTele}} or scan it with your smartphone:
        </div>
        <div class="cont-qr">
            <b-row no-gutters class="row-qr">                
                <b-col cols="12" class="col-qr text-center">
                    <img                  
                    :src="require('../../img/join-qa.svg')"
                    class=""
                    alt=""
                    />
                    <div class="qr-img">
                        <img                  
                        :src="require('../../img/qr-example.svg')"
                        class=""
                        alt=""
                        />
                    </div>
                </b-col>
                <b-col cols="12" class="col-qr text-center">
                    <div class="">
                    Or run the Telegram-bot @HuatBet_bot and specify the identifier:
                    </div>
                </b-col>
                <b-col cols="12" class="col-qr text-center">
                    <div class="code-col-qr" @click="actifedTele">
                    {{codeqr}}
                    </div>
                </b-col>                
            </b-row>            
        </div>
    </div>
    <div class="tfa-setting" v-else>
        <div class="text-head">
            You can link your Telegram account to your HuatBet account to receive notifications. Please note if you do not link your telegram account to receive notifications, you will not be able to reset your password.
        </div>
        <b-row no-gutters class="cont-form">
            <b-col class="title-input text-left my-auto">
                <div>
                Preferred Language
                </div>
            </b-col>
            <b-col>
            <b-form-select
                v-model="selectLang"
                :options="optionsLang"                            
                ></b-form-select>
            </b-col>
        </b-row>
        <b-row no-gutters class="text-left notify-list">
            <b-col cols="12" class="mb-3">
              You will receive notifications after linking your Telegram Account:  
            </b-col>
            <b-col cols="12" class="mb-1">
                Notify of wallet transactions
            </b-col>
            <b-col cols="12" class="mb-1">
                Notify of affiliate transactions
            </b-col>
            <b-col cols="12" class="mb-1">
                Notify of marketing & promotions
            </b-col>
            <b-col cols="12" class="mb-1">
                Notify of password guessing attempts of 2FA/password
            </b-col>
        </b-row>

        <div class="cont-qr">
            <button
            type="submit"
            class="btn btn-create btn-cancel"
            @click="cancelTele"                          
            >
            disable link to telegram
            </button>
        </div>
    </div>
</div>
</template>
<script>
export default {
    data() {
    return {
    activeTele : false,
    linkTele : 'https://t.me/huatbet?start=5BBDzU3F0964B7GPjbfuG8',
    codeqr: '5BBDzU3F0964B7GPjbfuG8',
    selectLang: 1,
    optionsLang: [{
          value: 1,
          text: 'English',
          },{
          value: 2,
          text: 'Spanish'
          }, {
          value: 3,
          text: 'Arabic'
          }
        ],
   
    };
  },
  methods:{
      actifedTele(){
          this.activeTele= true;
      },
      cancelTele(){
          this.activeTele= false;
      }
  },
}
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";
.tfa-setting{
    .text-head{
    margin-top: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    color: $secondary-text;
    }
    .cont-qr{
    margin: 20px auto;
    width: 335px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $secondary-text;
    .row-qr{
        margin: auto;
        width: 226px;
    }
    .col-qr{
        margin-bottom: 20px;
        position: relative;
        .qr-img{
            position: absolute; 
            left: 50%; 
            top: 50%; 
            transform: translate(-50%, -50%);
            z-index: 999;
        }
    }
    .code-col-qr{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $primary-text;
    }
       
    .btn-create {
    width: 100% !important;
    height: 46px;
    border-radius: 4px;
    background: $primary-text;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1d2b36;
    padding: 0 !important;
  }
  .btn-cancel{
      background: $tertiary-text !important;
  }
  }
.cont-form{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 638px;
    }
.title-input{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: $secondary-text;
      }
  .custom-select {
      display: inline-block;
      width: 100%;
      height: 36px;
      padding: 0.375rem 1.75rem 0.375rem 0.75rem;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      text-transform: capitalize;
      color: $secondary-text;
      vertical-align: middle;
      background-color: $primary-bg;
      background-image: url("/images/chevron-big-down.svg" );
      background-repeat:no-repeat;
      background-position:right 0.75rem center;
      background-size: 8px 10px;
      box-shadow: none !important;
      outline: transparent !important;
      border-radius: 4px;
      border: 1px solid $secondary-text !important;
    }
    .notify-list{
    margin-bottom: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;    
    color: $secondary-text;
    } 
}
</style>