<template>
    <ul id="sitemap">
        <li>
            <a href="#">First link</a>
            <ul>
                <li>
                    <a href="#">First link</a>
                    <ul>
                        <li><a href="#">First link</a></li>
                        <li><a href="#">Second link</a></li>
                        <li><a href="#">Third link</a></li>
                        <li><a href="#">Fourth link</a></li>
                        <li><a href="#">Fifth link</a></li>
                    </ul>
                </li>
                <li><a href="#">Second link</a></li>
                <li>
                    <a href="#">Third link</a>
                    <ul>
                        <li><a href="#">First link</a></li>
                        <li><a href="#">Second link</a></li>
                        <li><a href="#">Third link</a></li>
                        <li><a href="#">Fourth link</a></li>
                        <li><a href="#">Fifth link</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Fourth link</a>
                    <ul>
                        <li><a href="#">First link</a></li>
                        <li><a href="#">Second link</a></li>
                        <li><a href="#">Third link</a></li>
                        <li><a href="#">Fourth link</a></li>
                        <li><a href="#">Fifth link</a></li>
                    </ul>
                </li>
                <li><a href="#">Fifth link</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Second link</a>
            <ul>
                <li>
                    <a href="#">First link</a>
                    <ul>
                        <li><a href="#">First link</a></li>
                        <li><a href="#">Second link</a></li>
                        <li><a href="#">Third link</a></li>
                        <li><a href="#">Fourth link</a></li>
                        <li><a href="#">Fifth link</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Second link</a>
                    <ul>
                        <li><a href="#">First link</a></li>
                        <li><a href="#">Second link</a></li>
                        <li><a href="#">Third link</a></li>
                        <li><a href="#">Fourth link</a></li>
                        <li><a href="#">Fifth link</a></li>
                    </ul>
                </li>
                <li><a href="#">Third link</a></li>
                <li><a href="#">Fourth link</a></li>
                <li><a href="#">Fifth link</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Third link</a>
            <ul>
                <li><a href="#">First link</a></li>
                <li><a href="#">Second link</a></li>
                <li>
                    <a href="#">Third link</a>
                    <ul>
                        <li><a href="#">First link</a></li>
                        <li><a href="#">Second link</a></li>
                        <li><a href="#">Third link</a></li>
                        <li><a href="#">Fourth link</a></li>
                        <li><a href="#">Fifth link</a></li>
                    </ul>
                </li>
                <li><a href="#">Fourth link</a></li>
                <li><a href="#">Fifth link</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Fourth link</a>
            <ul>
                <li><a href="#">First link</a></li>
                <li><a href="#">Second link</a></li>
                <li><a href="#">Third link</a></li>
                <li><a href="#">Fourth link</a></li>
                <li><a href="#">Fifth link</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Fifth link</a>
            <ul>
                <li><a href="#">First link</a></li>
                <li>
                    <a href="#">Second link</a>
                    <ul>
                        <li><a href="#">First link</a></li>
                        <li><a href="#">Second link</a></li>
                        <li><a href="#">Third link</a></li>
                        <li><a href="#">Fourth link</a></li>
                        <li><a href="#">Fifth link</a></li>
                    </ul>
                </li>
                <li><a href="#">Third link</a></li>
                <li>
                    <a href="#">Fourth link</a>
                    <ul>
                        <li><a href="#">First link</a></li>
                        <li><a href="#">Second link</a></li>
                        <li><a href="#">Third link</a></li>
                        <li><a href="#">Fourth link</a></li>
                        <li><a href="#">Fifth link</a></li>
                    </ul>
                </li>
                <li><a href="#">Fifth link</a></li>
            </ul>
        </li>
    </ul>
</template>
<script>
export default {
    setup() {}
};
</script>
<style lang="css" scoped></style>
