<template>
<div>
    <div class="tfa-setting" v-if="!activeTfa">
        <div class="text-head">
            We provide two-factor authentication (2FA) using FreeOTP Authenticator. One time password (OTP) authentication requires a mobile phone with the FreeOTP Authenticator Application. The application generates a new password every few seconds and this password will be required for authentication. Press the button Use OTP to activate 2FA.
        </div>
        <div class="cont-qr">
            <b-row no-gutters class="row-qr">
                <b-col cols="12" class="col-qr text-center">
                    <div class="">
                    Open up FreeOTP Authenticator app and scan the QR barcode
                    </div>
                </b-col>
                <b-col cols="12" class="col-qr text-center">
                    <img                  
                    :src="require('../../img/join-qa.svg')"
                    class=""
                    alt=""
                    />
                    <div class="qr-img">
                        <img                  
                        :src="require('../../img/qr-example.svg')"
                        class=""
                        alt=""
                        />
                    </div>
                </b-col>
                <b-col cols="12" class="col-qr text-center">
                    <div class="">
                    For recovery, please save the following alpha-numeric code in a secure location:
                    </div>
                </b-col>
                <b-col cols="12" class="col-qr text-center">
                    <div class="code-col-qr">
                    {{codeqr}}
                    </div>
                </b-col>                
            </b-row>
            <b-row no-gutters>
                <b-col cols="12" class="text-left" style="margin-bottom:8px;">
                    Enter OTP and validate it to enable 2FA
                </b-col>
                <b-col cols="12" class="col-qr">
                    <b-form-input                        
                    v-model="otpCode"
                    class="setting-input"
                    placeholder="Enter One-Time Password">                        
                    </b-form-input>
                </b-col>
                <b-col cols="12" class="col-qr">
                    <b-form-checkbox
                        id="checkbox-name"
                        v-model="confirmCode"
                        name="checkbox-1"
                        value="accepted"
                        unchecked-value="not_accepted"                            
                        class="checkbox-name"
                        
                    >
                        I confirm that i have saved the alpha numeric code.
                    </b-form-checkbox>
                </b-col>
                <b-col cols="12" class="col-qr">
                    <button
                    type="submit"
                    class="btn btn-create"
                    @click="actifedTfa"                          
                    >
                    validate and enable 2fa
                    </button>
                </b-col>
                <b-col cols="12" class="col-qr">
                    <button
                    type="submit"
                    class="btn btn-create btn-cancel"                            
                    >
                    cancel 2fa activation
                    </button>
                </b-col>
            </b-row>
        </div>
    </div>
    <div class="tfa-setting" v-else>
        <div class="text-head">
            We provide two-factor authentication (2FA) using FreeOTP Authenticator. One time password (OTP) authentication requires a mobile phone with the FreeOTP Authenticator Application. The application generates a new password every few seconds and this password will be required for authentication. Press the button Use OTP to activate 2FA.
        </div>
        <div class="cont-qr">
            <button
            type="submit"
            class="btn btn-create btn-cancel"
            @click="cancelTfa"                          
            >
            disable 2fa authentication
            </button>
        </div>
    </div>
</div>
</template>
<script>
export default {
    data() {
    return {
    activeTfa : false,
    codeqr: 'DV2SJDIAXH3DKYCD',
    otpCode: '',
    confirmCode :'not_accepted'
    };
  },
  methods:{
      actifedTfa(){
          this.activeTfa= true;
      },
      cancelTfa(){
          this.activeTfa= false;
      }
  },
}
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";
.tfa-setting{
    .text-head{
    margin-top: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    color: $secondary-text;
    }
    .cont-qr{
    margin: 20px auto;
    width: 335px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $secondary-text;
    .row-qr{
        margin: auto;
        width: 226px;
    }
    .col-qr{
        margin-bottom: 20px;
        position: relative;
        .qr-img{
            position: absolute; 
            left: 50%; 
            top: 50%; 
            transform: translate(-50%, -50%);
            z-index: 999;
        }
    }
    .code-col-qr{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $primary-text;
        }
    .setting-input,
    .setting-input:active,
    .setting-input:focus {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: $secondary-text;
        background-clip: padding-box;
        border: 1px solid $secondary-text;        
        height: 36px !important;
        background: $primary-bg;
        box-shadow: none !important;
        outline: transparent !important;
        border-radius: 4px;        
        max-width: 335px;
    }
    .custom-control {
    position: relative;
    display: block;
    padding-left: 0 !important;
    //margin-left: -100px;
    }
    .checkbox-name{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: $secondary-text;
    }
    
    .custom-control-input:checked ~ .custom-control-label::before {
    border: $primary-text solid 1px !important;
    background-color: $primary-text !important;
    }
    .btn-create {
    width: 100% !important;
    height: 46px;
    border-radius: 4px;
    background: $primary-text;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1d2b36;
    padding: 0 !important;
  }
  .btn-cancel{
      background: $tertiary-text !important;
  }
  }
}
</style>