<template>
  <div class="user-profile">
    <div class="form-user-profile">
      <b-row no-gutters class="cont-form">
        <b-col class="title-input text-left my-auto">
          <div>Username (UN)</div>
        </b-col>
        <b-col>
          <b-form-input v-model="userName" class="setting-input" readonly>
          </b-form-input>
        </b-col>
      </b-row>
      <b-row no-gutters class="cont-form">
        <b-col class="title-input text-left my-auto">
          <div>Display Name</div>
        </b-col>
        <b-col>
          <b-form-input v-model="displayName" class="setting-input">
          </b-form-input>
        </b-col>
      </b-row>
      <b-row no-gutters class="cont-form">
        <b-col class="title-input text-left my-auto">
          <div>Privacy</div>
        </b-col>
        <b-col>
          <b-form-checkbox
            id="checkbox-name"
            v-model="status"
            name="checkbox-1"
            value="1"
            unchecked-value="0"
            class="checkbox-name"
          >
            I accept the terms and use
          </b-form-checkbox>
        </b-col>
      </b-row>
      <b-row no-gutters class="cont-form">
        <b-col class="title-input text-left my-auto">
          <div>Time Zone</div>
        </b-col>
        <b-col>
          <b-form-select
            v-model="selectTime"
            :options="optionsTime"
          ></b-form-select>
        </b-col>
      </b-row>
      <div v-if="$store.state.profile.error.isError">
        {{ $store.state.profile.error.errorMsg }}
      </div>
      <b-row no-gutters class="cont-form">
        <b-col class="title-input text-left my-auto"> </b-col>
        <b-col>
          <button
            type="submit"
            @click="update"
            :disabled="$store.state.profile.isLoading"
            class="btn btn-create"
          >
            SAVE
          </button>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      titleCard: "User profile",
      selected: 1,
      userName: "",
      displayName: "",
      status: "0",
      selectTime: "-17",
      optionsTime: [
        {
          value: -12,
          text: "(GMT -12:00) Eniwetok, Kwajalein",
        },
        {
          value: -11,
          text: "(GMT -11:00) Midway Island, Samoa",
        },
        {
          value: -10,
          text: "(GMT -10:00) Hawaii",
        },
        {
          value: -9,
          text: "(GMT -9:00) Alaska",
        },
        {
          value: -8,
          text: "(GMT -8:00) Pacific Time (US & Canada)",
        },
        {
          value: -7,
          text: "(GMT -7:00) Mountain Time (US & Canada)",
        },
        {
          value: -6,
          text: "(GMT -6:00) Central Time (US & Canada), Mexico City",
        },
        {
          value: -5,
          text: "(GMT -5:00) Eastern Time (US & Canada), Bogota, Lima",
        },
        {
          value: -4,
          text: "(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz",
        },
        {
          value: -3,
          text: "(GMT -3:00) Brazil, Buenos Aires, Georgetown",
        },
        {
          value: -2,
          text: "(GMT -2:00) Mid-Atlantic",
        },
        {
          value: -1,
          text: "(GMT -1:00) Azores, Cape Verde Islands",
        },
        {
          value: +0,
          text: "(GMT) Western Europe Time, London, Lisbon, Casablanca",
        },
        {
          value: +1,
          text: "(GMT +1:00) Brussels, Copenhagen, Madrid, Paris",
        },
        {
          value: +2,
          text: "(GMT +2:00) Kaliningrad, South Africa",
        },
        {
          value: +3,
          text: "(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg",
        },
        {
          value: +4,
          text: "(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi",
        },
        {
          value: +5,
          text: "(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent",
        },

        {
          value: +6,
          text: "(GMT +6:00) Almaty, Dhaka, Colombo",
        },
        {
          value: +7,
          text: "(GMT +7:00) Bangkok, Hanoi, Jakarta",
        },
        {
          value: +8,
          text: "(GMT +8:00) Beijing, Perth, Singapore, Hong Kong",
        },
        {
          value: +9,
          text: "(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk",
        },
        {
          value: +10,
          text: "(GMT +10:00) Eastern Australia, Guam, Vladivostok",
        },
        {
          value: +11,
          text: "(GMT +11:00) Magadan, Solomon Islands, New Caledonia",
        },

        {
          value: +12,
          text: "(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka",
        },
        {
          value: +13,
          text: "(GMT +13:00) Apia, Nukualofa",
        },
        {
          value: +14,
          text: "(GMT +14:00) Line Islands, Tokelau",
        },
      ],
    };
  },
  created() {
    this.$store.dispatch("profile/GET_PROFILE");
  },
  methods: {
    update() {
      this.$store.dispatch("profile/UPDATE_PROFILE", {
        displayName: this.displayName,
        privacy: this.status,
        timezone: this.selectTime,
      });
    },
  },
  watch: {
    username: function (value) {
      this.userName = value;
    },
    display_name: function (value) {
      this.displayName = value;
    },
    timezone: function (value) {
      this.selectTime = value;
    },
    privacy: function (value) {
      if (value) this.status = "1";
      else this.status = "0";
    },
  },
  computed: {
    ...mapGetters({
      username: "profile/username",
      display_name: "profile/displayName",
      timezone: "profile/timezone",
      privacy: "profile/privacy",
    }),
  },
};
</script>
<style lang="scss">
@import "./resources/sass/variables.scss";
.user-profile {
  .form-user-profile {
    width: 638px;
    .cont-form {
      margin-top: 20px;
    }
  }
  .title-input {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: $secondary-text;
  }
  .setting-input,
  .setting-input:active,
  .setting-input:focus {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: $secondary-text;
    background-clip: padding-box;
    border: 1px solid $secondary-text;
    height: 36px !important;
    background: $primary-bg;
    box-shadow: none !important;
    outline: transparent !important;
    border-radius: 4px;
    max-width: 335px;
  }
  input[readonly],
  input[readonly]:focus {
    background: #3e3f42 !important;
    color: #989899 !important;
    border: 1px solid transparent !important;
  }
  .custom-control {
    position: relative;
    display: block;
    padding-left: 0 !important;
    margin-left: -100px;
  }
  .checkbox-name {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: $secondary-text;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    border: $primary-text solid 1px !important;
    background-color: $primary-text !important;
  }
  //     .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  //     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%FFCD3E' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
  // }
  .custom-select {
    display: inline-block;
    width: 100%;
    height: 36px;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
    color: $secondary-text;
    vertical-align: middle;
    background-color: $primary-bg;
    background-image: url("/images/chevron-big-down.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 8px 10px;
    box-shadow: none !important;
    outline: transparent !important;
    border-radius: 4px;
    border: 1px solid $secondary-text !important;
  }
  .btn-create {
    width: 100% !important;
    height: 46px;
    border-radius: 4px;
    background: $primary-text;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1d2b36;
    padding: 0 !important;
  }
}
</style>